<div class="fg-card js-card uk-card uk-card-default uk-card-hover uk-card-small uk-flex uk-flex-column">
  <div class="uk-card-media-top">
    {% if product.featured_image != blank %}
      <a href="{{ product.url }}">
      {% include 'responsive-card-image' with image: product.featured_image, image_class: "css-class", wrapper_class: "wrapper-css-class", max_width: 500, max_height: 500 %}
      </a>
    {% endif %}
  </div>
  <div class="uk-card-body fg-card__body">
    <div class="fg-card__body-details">
      <div class="fg-card__body-details--upper">
        <span class="fg-card__body-title">
          <h4 class="uk-margin-remove-top uk-margin-remove-bottom">
            <a class="uk-text-emphasis" href="{{ product.url }}">{{ product.title }}</a>
          </h4>
          {% if display_stock == true %}
            {% if product.available %}
              <em class="uk-text-small uk-text-primary">In Stock</em>
            {% else %}
              <em class="uk-text-small uk-text-danger">Out of Stock</em>
            {% endif %}
          {% endif %}
        </span>
      </div>
      {% include 'card-price' %}
    </div>
    <div class="fg-card__footer uk-card-footer uk-padding-remove-left">
      <a href="{{ product.url }}" class="uk-button uk-button-primary">BUY NOW</a>
    </div>
  </div>
</div>

