<a href="/cart" class="fg-nav__topper_icon-align js-veiw-cart_nav">
  <span class="">Cart</span>
  <span uk-icon="icon: cart" class="fg-icon-left"></span>
  <span class="js-cart-item-count uk-badge">
    {{ cart.item_count }}
  </span>
</a>
