{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/firgelli-canada.myshopify.com/products/configure/192217/edit
{% endcomment %}
{% if product.metafields.custom_fields["tutorial_link"] != blank %}
  <div class="custom-field custom-field__tutorial-link custom-field__type--article-reference">
    <h3 class="custom-field--title">Tutorial Link</h3>
    <div class="custom-field--value">  
      {% assign article_refs = product.metafields.custom_fields["tutorial_link"] | split: "|" %}
      <ul>
        {% for article_handle in article_refs %}
          <li>
            {% assign article_blog_handle = article_handle | split: "." %}
            {% for article in blogs[article_blog_handle[0]].articles %}
              {% if article.handle contains article_blog_handle[1] %}
                {{ article.title | link_to: article.url }}
                {% break %}
              {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}