<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <h2>Order Summary</h2>
    <hr>
    <div uk-grid>
      <div class="uk-width-1-3@s">
        {% include 'form-shipping-calculator' %}
      </div>
      <div class="uk-width-1-3@s">
        {% include 'form-order-note' %}
      </div>
      <div class="uk-width-1-3@s">
        {% include 'form-order-summary' %}
      </div>
    </div>
  </div>
</div>