<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 86.8">
  <defs>
    <style>
      .logo-customer, .logo-customer2 {
        fill: #fefefe;
      }

      .logo-customer2 {
        fill-rule: evenodd;
      }
    </style>
  </defs>
  <title>Boeing Company Logo</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Boeing">
      <g id="logo-boeing">
        <path class="logo-customer" d="M30.32,66.61A26.6,26.6,0,0,1,13.81,60.9C19.09,49,29.86,33,44.54,17.35a26.68,26.68,0,0,1,9.93,33.94A48.93,48.93,0,0,1,41.79,43l8,15.09a26.6,26.6,0,0,1-19.51,8.48M3.64,39.93A26.7,26.7,0,0,1,41.4,15.65C26.93,28.43,15.74,43.28,9.11,56.12A26.58,26.58,0,0,1,3.64,39.93m54.18,12.8a30.36,30.36,0,0,0-10.72-38A213.5,213.5,0,0,1,62.84,0,136.73,136.73,0,0,0,44.39,13.06a30.33,30.33,0,0,0-37,46.66C1.54,72.29.53,82.37,5.64,85.79c5.48,3.65,17.4-3,24.55-13.76,0,0-11.06,10-17.13,7.69-3.74-1.42-3.75-7.14-.67-15.34a30.34,30.34,0,0,0,39.24-2.87l1.08,2c13.21-1.08,52.68-2.12,52.68-2.12,0-1.9-26.13-.18-47.57-8.69"/>
        <path class="logo-customer2" d="M238.74,37.15l4.94-6.57H226.47L230.71,25h17.22l4.94-6.56H218.51L194.87,49.76h34.37l4.94-6.56H217l4.55-6.05Z"/>
        <path class="logo-customer2" d="M262.61,18.4,239,49.76h17.14L279.76,18.4Z"/>
        <path class="logo-customer2" d="M319.74,18.4l-12,15.9-3.69-15.9h-13.4L267,49.76h11.34L290.26,34l3.65,15.76h13.54L331.08,18.4Z"/>
        <path class="logo-customer" d="M375.8,18.4H348.23a14.39,14.39,0,0,0-11.53,5.77L322.47,43a4.07,4.07,0,0,0-.85,2.52,4.21,4.21,0,0,0,4.2,4.21h27.56A14.41,14.41,0,0,0,364.93,44l3.42-4.53h4l5-6.61H356.2l-6.66,8.84a3.76,3.76,0,0,1-3,1.5h-4.85a1.09,1.09,0,0,1-1.1-1.09,1,1,0,0,1,.22-.65l11.3-15a3.76,3.76,0,0,1,3-1.49H360a1.09,1.09,0,0,1,1.1,1.09,1.12,1.12,0,0,1-.23.66L359,29.14h17.13l3-4a4.2,4.2,0,0,0-3.36-6.72"/>
        <path class="logo-customer" d="M185.3,26.71,174,41.7a3.74,3.74,0,0,1-3,1.5h-4.85a1.09,1.09,0,0,1-1.09-1.09,1,1,0,0,1,.22-.66l11.3-15a3.77,3.77,0,0,1,3-1.49h4.86a1.09,1.09,0,0,1,1.09,1.09,1.19,1.19,0,0,1-.22.66m19.15-4.12a4.19,4.19,0,0,0-4.2-4.19H172.71a14.4,14.4,0,0,0-11.55,5.76L146.93,43a4.15,4.15,0,0,0-.84,2.52,4.21,4.21,0,0,0,4.19,4.21h27.55A14.45,14.45,0,0,0,189.39,44l14.23-18.88a4.15,4.15,0,0,0,.83-2.53"/>
        <path class="logo-customer" d="M132.92,26.71l-1.8,2.39a3.76,3.76,0,0,1-3,1.48h-7L125.33,25h6.72a1.09,1.09,0,0,1,1.09,1.09,1.11,1.11,0,0,1-.22.66m-9.19,12.18-2.12,2.82a3.74,3.74,0,0,1-3,1.49h-7l4.55-6.05h6.74A1.08,1.08,0,0,1,124,38.23a1.06,1.06,0,0,1-.23.66m15.92-4a14.46,14.46,0,0,0,8.33-5.4l3.26-4.33a4.2,4.2,0,0,0-3.35-6.72H113.12L89.49,49.77h36A14.44,14.44,0,0,0,137,44l3.34-4.42a3.31,3.31,0,0,0,.67-2,3.37,3.37,0,0,0-1.37-2.71"/>
      </g>
    </g>
  </g>
</svg>
