<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 67.31">
  <defs>
    <style>
      .logo-customer {
        fill: #fefefe;
        fill-rule: evenodd;
      }
    </style>
  </defs>
  <title>Honeywell Company Logo</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Honeywell">
      <g id="logo-honeywell">
        <polygon id="polygon9" class="logo-customer" points="344.34 51.38 358.77 51.38 358.77 0 344.34 0 344.34 51.38 344.34 51.38"/>
        <polygon id="polygon11" class="logo-customer" points="380 0 380 51.38 365.57 51.38 365.57 0 380 0 380 0"/>
        <polygon id="polygon13" class="logo-customer" points="30.78 19.95 19.11 19.95 19.11 0 0 0 0 51.38 19.11 51.38 19.11 25.9 30.78 25.9 30.78 51.38 49.89 51.38 49.89 0 30.78 0 30.78 19.95 30.78 19.95"/>
        <path id="path15" class="logo-customer" d="M120.47,19.11l-1.16-3.4H103.6V51.38h15.71V29.93h0c0-4.67,3-7.21,5.52-7.21,2.12,0,4.88.42,4.88,5.09h0V51.38h15.71V28.24h0c0-12.95-14.54-18-24.95-9.13Z"/>
        <path id="path17" class="logo-customer" d="M281.82,36.41l-7.33-20.7H263.77l-7.32,21.55L248.8,15.71h-21l-7.54,18.15L209.64,15.71H191.7L212.82,51.8l-2.76,6.79h0c-.95,2.13-3.24,2.23-3.69.21a6.61,6.61,0,0,0-13.21,0c0,3.83,3.85,8.82,11.38,8.5s10.72-6.58,11.78-9.24h0l17.46-42.21,12.58,35.53h11.47l7-20.49,7.22,20.49h10.83l12.2-35.67h-6.26l-7,20.7Z"/>
        <path id="path19" class="logo-customer" d="M77,13.9c-12,0-21.76,8.93-21.76,20s9.74,20,21.76,20,21.77-8.94,21.77-20S89,13.9,77,13.9Zm5.42,29.3a5.42,5.42,0,0,1-10.83,0h0V24.52h0a5.42,5.42,0,0,1,10.83,0h0V43.2Z"/>
        <path id="path21" class="logo-customer" d="M193.44,36.73a22.8,22.8,0,0,0,.18-2.87c0-11-9.75-20-21.77-20s-21.77,8.93-21.77,20,9.75,20,21.77,20A22.13,22.13,0,0,0,191,43.39h0l-4.8-1.78h0A17,17,0,0,1,171.85,49c-3,0-5.41-2.83-5.41-5.82h0V36.73Zm-27-12.21a5.41,5.41,0,0,1,10.82,0h0v7.11H166.44V24.52Z"/>
        <path id="path23" class="logo-customer" d="M338.86,36.73a22.8,22.8,0,0,0,.18-2.87c0-11-9.75-20-21.77-20s-21.77,8.93-21.77,20,9.75,20,21.77,20A22.13,22.13,0,0,0,336.4,43.39h0l-4.8-1.78h0A17,17,0,0,1,317.27,49c-3,0-5.41-2.83-5.41-5.82h0V36.73Zm-27-12.21a5.41,5.41,0,0,1,10.82,0h0v7.11H311.86V24.52Z"/>
      </g>
    </g>
  </g>
</svg>
