<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206.8 233.99">
  <defs>
    <style>
      .cls-1, .cls-2, .cls-3 {
        fill: none;
        stroke: #3a8bca;
      }

      .cls-1, .cls-3 {
        stroke-linecap: round;
      }

      .cls-1, .cls-2 {
        stroke-linejoin: round;
        stroke-width: 5px;
      }

      .cls-3 {
        stroke-miterlimit: 10;
        stroke-width: 6px;
      }
    </style>
  </defs>
  <title>widget_stair-hatch-lift</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_2-2" data-name="Layer 2">
      <g id="widget_stair-hatch-lift">
        <rect class="cls-1" x="3.45" y="75.48" width="200.85" height="156.01"/>
        <polygon class="cls-2" points="170.66 97.21 170.66 119.57 137.46 119.57 137.46 141.92 104.25 141.92 104.25 164.27 71.05 164.27 71.05 186.62 37.65 186.62 37.65 208.97 3.45 208.97 3.45 231.33 203.87 231.33 203.87 208.97 203.87 186.62 203.87 164.27 203.87 141.92 203.87 119.57 203.87 97.21 170.66 97.21"/>
        <line class="cls-3" x1="3" y1="75.19" x2="191.78" y2="3"/>
      </g>
    </g>
  </g>
</svg>
