<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1436.33 191.99">
  <defs>
    <style>
      .fg-icon-pay__fill-1, .fg-icon-pay__fill-6, .fg-icon-pay__fill-7 {
        fill: #fff;
      }

      .fg-icon-pay__fill-2, .fg-icon-pay__fill-5 {
        fill: #323678;
      }

      .fg-icon-pay__fill-3 {
        fill: #f28527;
      }

      .fg-icon-pay__fill-4 {
        fill: #ed2129;
      }

      .fg-icon-pay__fill-5, .fg-icon-pay__fill-6, .fg-icon-pay__fill-7, .fg-icon-pay__fill-8, .fg-icon-pay__fill-9 {
        fill-rule: evenodd;
      }

      .fg-icon-pay__fill-7 {
        stroke: #1263af;
        stroke-width: 4px;
      }

      .fg-icon-pay__fill-10, .fg-icon-pay__fill-8 {
        fill: #1263af;
      }

      .fg-icon-pay__fill-9 {
        fill: #fdb826;
      }

      .fg-icon-pay__fill-11 {
        fill: #636667;
      }

      .fg-icon-pay__fill-12 {
        fill: none;
      }

      .fg-icon-pay__fill-13 {
        fill: #fcb918;
      }

      .fg-icon-pay__fill-14 {
        fill: #231f20;
      }

      .fg-icon-pay__fill-15 {
        fill: #2e6fb7;
      }

      .fg-icon-pay__fill-16 {
        mask: url(#mask);
      }

      .fg-icon-pay__fill-17 {
        mask: url(#mask-2);
      }

      .fg-icon-pay__fill-18 {
        fill: #253d80;
      }

      .fg-icon-pay__fill-19 {
        fill: #189bd7;
      }

      .fg-icon-pay__fill-20 {
        fill: #242e65;
      }
    </style>
    <mask id="mask" x="1245.15" y="59.37" width="191.05" height="78.23" maskUnits="userSpaceOnUse">
      <g id="bluebox-55x54-b">
        <polygon id="bluebox-55x54-a" class="fg-icon-pay__fill-1" points="1245.15 59.37 1245.15 137.6 1436.2 137.6 1436.2 59.37 1245.15 59.37"/>
      </g>
    </mask>
    <mask id="mask-2" x="1282.83" y="109.66" width="153.5" height="22.51" maskUnits="userSpaceOnUse">
      <g id="bluebox-55x54-d">
        <polygon id="bluebox-55x54-c" class="fg-icon-pay__fill-1" points="1436.33 132.17 1436.33 109.66 1282.83 109.66 1282.83 132.17 1436.33 132.17"/>
      </g>
    </mask>
  </defs>
  <title>Asset 7</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="set">
      <g>
        <g>
          <polygon class="fg-icon-pay__fill-2" points="934.33 0.35 934.33 189.13 1234.92 189.13 1234.92 0.35 934.33 0.35 934.33 0.35"/>
          <path class="fg-icon-pay__fill-3" d="M1056.75,95a83.78,83.78,0,1,1,83.79,83.78A83.78,83.78,0,0,1,1056.75,95Z"/>
          <path class="fg-icon-pay__fill-4" d="M1084.42,32.63a72.08,72.08,0,0,0-7.35,7.58H1092s5.09,5.51,7,9.67h-29.14s-2.82,4.43-4.7,8.19h38.54s3.52,6.59,4.29,10.07h-46.86a72.41,72.41,0,0,0-2.28,7.92l51.3-.06c1.41,6.44,4.82,25.17-2.22,45.85l-46.6.06a61.47,61.47,0,0,0,3.23,8.32h40c-1.61,3.37-4,7.59-5.31,9.72l-29.34,0a71,71,0,0,0,5.64,7.73h18.07a65.93,65.93,0,0,1-9.13,9.53h-.15l.19.06a83.78,83.78,0,1,1-.08-124.65Z"/>
          <path class="fg-icon-pay__fill-2" d="M1043.09,83.1l-1.35,7.54-7.35-.19s-3.67,1-3.67,2.51,2.7,3.48,6.76,5.23,4.26,6.56,3.87,9.85-1,10.1-12.76,10.44c-6.77.19-10.43-1.16-10.43-1.16l1.54-7.73s8.7,2.32,10.63,1,4.26-3.67.58-5.22-9.67-4-9.67-10.24,2.53-9.67,6.39-11.41,10.63-1.55,15.46-.58Z"/>
          <polygon class="fg-icon-pay__fill-2" points="985.01 117.58 976.46 117.58 981.44 88.22 970.88 117.41 964.97 117.41 963.55 87.05 958.38 117.58 950.3 117.58 957.92 72.75 967.72 72.75 971.15 98.57 982.56 72.75 992.62 72.75 985.01 117.58 985.01 117.58"/>
          <path class="fg-icon-pay__fill-2" d="M1050.73,118.21c-2.79,0-4.77-.63-6-1.79a7.93,7.93,0,0,1-1.78-5.57,12.38,12.38,0,0,1,.14-1.79c.06-.63.19-1.35.25-2.16l5.14-28.7h8l-1.16,5.61h7.49l-1.26,7.09h-7.48l-2.06,12.22c-.13.81-.26,1.62-.39,2.52a13.59,13.59,0,0,0-.2,2.16,3.18,3.18,0,0,0,.72,2.51,3.34,3.34,0,0,0,2.33.72,6,6,0,0,0,1.58-.27,9.29,9.29,0,0,0,1.66-.72h.66l-1.26,7.19a15.74,15.74,0,0,1-2.84.71,19.56,19.56,0,0,1-3.58.27Z"/>
          <path class="fg-icon-pay__fill-2" d="M1108.22,93.25c-1.74-1.35-5.64-1.08-6.45,1.7l-3.84,22.63h-8l5.77-33.77h8l-.17,2.73c1.53-1.54,3.23-2.82,7.53-2.69.26,0-2.6,5-2.83,9.4Z"/>
          <path class="fg-icon-pay__fill-2" d="M1123.36,118.49c-4.43,0-7.94-1.53-10.32-4.5s-3.64-7.27-3.64-12.84a42,42,0,0,1,1.58-12,31,31,0,0,1,4.44-9.26A20.59,20.59,0,0,1,1122,74a16.11,16.11,0,0,1,8.09-2.16,20.55,20.55,0,0,1,6.35,1c1,.33,2.81,1.21,2.81,1.21l-1.86,10.64a13.85,13.85,0,0,0-2.81-2.78,8.92,8.92,0,0,0-4.89-1.43c-3.32,0-6,1.79-8.16,5.38s-3.23,8.18-3.23,13.75q0,5.38,1.78,7.82a6.21,6.21,0,0,0,5.16,2.33,10.85,10.85,0,0,0,5.77-1.62,25,25,0,0,0,2.49-1.81l-1.86,10.17s-1,.47-1.43.63c-1.12.44-2.12.72-3,1a20.75,20.75,0,0,1-3.92.36Z"/>
          <path class="fg-icon-pay__fill-2" d="M1004.74,116.42a10.66,10.66,0,0,1-.93.62,20.18,20.18,0,0,1-2.32,1.09,12.49,12.49,0,0,1-3,.36,6.27,6.27,0,0,1-5-2.34,9.41,9.41,0,0,1-2-6.19,15.28,15.28,0,0,1,1.39-6.84A10.6,10.6,0,0,1,997,98.73a18.06,18.06,0,0,1,6.1-2.26l1.66-.27a41.87,41.87,0,0,1,6.09-.71,2.54,2.54,0,0,1,.06-.63,3.54,3.54,0,0,0,.07-.9,3.29,3.29,0,0,0-1.46-3.06,9.37,9.37,0,0,0-4.37-.8h-.39a14.08,14.08,0,0,0-4,.89,36.36,36.36,0,0,0-3.58,1.53h-.72l1.18-8a25.65,25.65,0,0,1,4.31-1.08,15,15,0,0,1,2.79-.45,17.24,17.24,0,0,1,3-.18c3.91,0,6.75.71,8.61,2.06s2.72,3.51,2.72,6.47a13.51,13.51,0,0,1-.07,1.54c-.06.63-.13,1.16-.19,1.7l-3.92,23H1007l.61-3.59c-.47.45-1.13,1-1.8,1.62-.39.27-.72.54-1,.81Zm0-14a10.84,10.84,0,0,0-2.19.71,4.68,4.68,0,0,0-2.06,1.89,5.93,5.93,0,0,0-.73,3.23,2.83,2.83,0,0,0,.94,2.43,4.64,4.64,0,0,0,2.78.72,3.46,3.46,0,0,0,1.26-.26,11.6,11.6,0,0,0,1.25-.46,17.62,17.62,0,0,0,2.52-1.89l1.19-7.18c-1.39.18-2.78.36-4,.63a3.83,3.83,0,0,0-1,.18Z"/>
          <path class="fg-icon-pay__fill-2" d="M1074,89.65a4.78,4.78,0,0,0-2.85,1.62,12.11,12.11,0,0,0-2.58,5h10.8c0-.36.06-.64.06-1s.07-.63.07-.9a5.61,5.61,0,0,0-1.13-3.69,3.94,3.94,0,0,0-3.11-1.25,6,6,0,0,0-1.26.18Zm0,21.2h1.19a10.65,10.65,0,0,0,5-1.17,21.53,21.53,0,0,0,4-2.7h.93l-1.53,8.72a19,19,0,0,1-4.89,2.06,19.82,19.82,0,0,1-4.71.73h-.73c-4.31,0-7.55-1.26-9.87-3.87s-3.44-6-3.44-10.51a30.69,30.69,0,0,1,1.12-8.45,22.2,22.2,0,0,1,3.25-6.82,16,16,0,0,1,5.1-4.5,16.83,16.83,0,0,1,4.57-1.52,17.74,17.74,0,0,1,2.19-.09c3.7,0,6.48,1,8.41,3.06s2.78,5,2.78,9a27.42,27.42,0,0,1-.27,4c-.2,1.26-.46,2.61-.79,3.86h-18.55v.72a7.94,7.94,0,0,0,1.86,5.48,6.52,6.52,0,0,0,4.37,2Z"/>
          <path class="fg-icon-pay__fill-2" d="M1149.08,116.42a6.14,6.14,0,0,1-1,.62,15.48,15.48,0,0,1-2.33,1.09,12.25,12.25,0,0,1-3,.36,6.38,6.38,0,0,1-5.09-2.34,9.38,9.38,0,0,1-1.94-6.19,15.27,15.27,0,0,1,1.41-6.84,10.76,10.76,0,0,1,4.1-4.39,17.87,17.87,0,0,1,6.15-2.26l1.67-.27a40.72,40.72,0,0,1,6-.71c.07-.18.07-.37.14-.63s.06-.54.06-.9a3.45,3.45,0,0,0-1.45-3.06,9.42,9.42,0,0,0-4.38-.8h-.39a13.17,13.17,0,0,0-4,.89,36,36,0,0,0-3.57,1.53h-.73l1.12-8a25.13,25.13,0,0,1,4.37-1.08,15,15,0,0,1,2.79-.45,16.9,16.9,0,0,1,3.05-.18c3.9,0,6.75.71,8.61,2.06s2.71,3.51,2.71,6.47a13.51,13.51,0,0,1-.07,1.54l-.19,1.7-3.91,23h-8l.6-3.59c-.53.45-1.14,1-1.86,1.62l-1,.81Zm0-14a13.42,13.42,0,0,0-2.26.71,5.22,5.22,0,0,0-2.06,1.89,6.62,6.62,0,0,0-.73,3.23,2.7,2.7,0,0,0,1,2.43,4.43,4.43,0,0,0,2.71.72,3.77,3.77,0,0,0,1.33-.26,7.19,7.19,0,0,0,1.18-.46,14.06,14.06,0,0,0,2.52-1.89l1.26-7.18c-1.46.18-2.78.36-4,.63a3,3,0,0,0-.92.18Z"/>
          <path class="fg-icon-pay__fill-2" d="M1182.88,93.25c-1.76-1.35-5.65-1.08-6.46,1.7l-3.84,22.63h-8l5.76-33.77h8l-.17,2.73c1.53-1.54,3.23-2.82,7.52-2.69.27,0-2.6,5-2.81,9.4Z"/>
          <path class="fg-icon-pay__fill-5" d="M1198.62,91a6.07,6.07,0,0,0-1.13.73,9.12,9.12,0,0,0-2.65,3,17.41,17.41,0,0,0-1.45,4.58,24.64,24.64,0,0,0-.61,5.3,7.42,7.42,0,0,0,1.07,4.41,3.68,3.68,0,0,0,3.19,1.44,3.53,3.53,0,0,0,1.58-.36,2.74,2.74,0,0,0,.72-.37,12.07,12.07,0,0,0,2.25-1.53l2.85-16.61a6,6,0,0,0-1.72-.73,4.82,4.82,0,0,0-1.78-.36,6.39,6.39,0,0,0-2.32.45Zm0,24.8a13.43,13.43,0,0,1-2,1.53,10.15,10.15,0,0,1-1.92.89,8.55,8.55,0,0,1-2.31.28,6.82,6.82,0,0,1-5.84-3.15c-1.38-2.15-2.11-5.2-2.11-9.07a33.73,33.73,0,0,1,1.11-9.08,27.43,27.43,0,0,1,3.13-7.45,16.75,16.75,0,0,1,4.63-5,10.09,10.09,0,0,1,5.3-1.88h.26a10.77,10.77,0,0,1,3.58.53,11.9,11.9,0,0,1,3.11,1.81l1.78-11.79h8L1208,117.58h-8l.6-3.49c-.74.63-1.39,1.17-2,1.7Z"/>
          <path class="fg-icon-pay__fill-1" d="M1044.71,81.89l-1.36,7.54-7.35-.19s-3.67,1-3.67,2.51,2.71,3.48,6.77,5.22,4.25,6.57,3.86,9.86-1,10.11-12.76,10.44c-6.76.2-10.44-1.16-10.44-1.16l1.55-7.73s8.7,2.32,10.64,1,4.25-3.67.57-5.22-9.66-4.06-9.66-10.24,2.51-9.67,6.38-11.41,10.63-1.55,15.47-.58Z"/>
          <polygon class="fg-icon-pay__fill-1" points="986.62 116.38 978.08 116.38 983.04 87 972.48 116.2 966.58 116.2 965.16 85.83 959.99 116.38 951.91 116.38 959.53 71.55 969.33 71.55 972.76 97.36 984.17 71.55 994.24 71.55 986.62 116.38 986.62 116.38"/>
          <path class="fg-icon-pay__fill-1" d="M1052.34,117c-2.78,0-4.77-.63-6-1.8a7.84,7.84,0,0,1-1.79-5.57,16.54,16.54,0,0,1,.13-1.8c.07-.62.2-1.34.27-2.15L1050.12,77h8L1057,82.6h7.49l-1.26,7.09h-7.48l-2.06,12.23c-.13.8-.26,1.61-.39,2.51a13.59,13.59,0,0,0-.2,2.16,3.22,3.22,0,0,0,.72,2.52,3.36,3.36,0,0,0,2.32.72,6.48,6.48,0,0,0,1.59-.28,8.61,8.61,0,0,0,1.66-.72h.66l-1.26,7.19a14.23,14.23,0,0,1-2.84.71,20.4,20.4,0,0,1-3.58.28Z"/>
          <path class="fg-icon-pay__fill-1" d="M1109.84,92.05c-1.75-1.36-5.65-1.08-6.46,1.69l-3.84,22.64h-8l5.76-33.78h8l-.16,2.72c1.52-1.52,3.21-2.82,7.5-2.68.28,0-2.59,5-2.8,9.41Z"/>
          <path class="fg-icon-pay__fill-1" d="M1125,117.28c-4.44,0-8-1.52-10.33-4.49s-3.65-7.28-3.65-12.85a42.3,42.3,0,0,1,1.59-12,31.11,31.11,0,0,1,4.44-9.26,20.64,20.64,0,0,1,6.63-5.92,15.91,15.91,0,0,1,8.07-2.16,21,21,0,0,1,6.37,1c1,.33,2.81,1.21,2.81,1.21L1139,83.5a13.89,13.89,0,0,0-2.8-2.79,9.05,9.05,0,0,0-4.91-1.44q-5,0-8.14,5.4c-2.19,3.59-3.25,8.18-3.25,13.74q0,5.4,1.79,7.82a6.21,6.21,0,0,0,5.17,2.34,11.05,11.05,0,0,0,5.76-1.62,30.27,30.27,0,0,0,2.49-1.81l-1.87,10.16s-1,.47-1.42.63c-1.12.45-2.11.72-3,1a20.4,20.4,0,0,1-3.91.37Z"/>
          <path class="fg-icon-pay__fill-1" d="M1006.34,115.21a9.6,9.6,0,0,1-.92.63,18.39,18.39,0,0,1-2.32,1.07,12.34,12.34,0,0,1-3.05.37,6.28,6.28,0,0,1-5-2.34,9.48,9.48,0,0,1-2-6.19,15.2,15.2,0,0,1,1.39-6.83,10.61,10.61,0,0,1,4.18-4.41,17.91,17.91,0,0,1,6.09-2.24l1.65-.27a43.55,43.55,0,0,1,6.1-.73,2.2,2.2,0,0,1,.07-.62,4.11,4.11,0,0,0,.06-.9,3.31,3.31,0,0,0-1.46-3.06,9.5,9.5,0,0,0-4.37-.8h-.4a14.57,14.57,0,0,0-4,.9,34.44,34.44,0,0,0-3.58,1.52h-.72l1.18-8a26.68,26.68,0,0,1,4.31-1.08,15,15,0,0,1,2.78-.45,17.35,17.35,0,0,1,3-.18c3.92,0,6.75.72,8.61,2.07s2.72,3.5,2.72,6.46a13.51,13.51,0,0,1-.07,1.54c-.07.63-.13,1.17-.2,1.7l-3.9,23h-8l.6-3.59c-.47.45-1.12,1-1.79,1.62a11.72,11.72,0,0,0-1.06.8Zm0-14a10.3,10.3,0,0,0-2.18.72,4.48,4.48,0,0,0-2,1.88,5.79,5.79,0,0,0-.73,3.24,2.87,2.87,0,0,0,.92,2.42,4.77,4.77,0,0,0,2.79.72,3.4,3.4,0,0,0,1.25-.27,8.52,8.52,0,0,0,1.27-.45,19.08,19.08,0,0,0,2.51-1.88l1.19-7.19c-1.39.18-2.78.36-4,.63a3.83,3.83,0,0,0-1,.18Z"/>
          <path class="fg-icon-pay__fill-1" d="M1075.61,88.44a4.9,4.9,0,0,0-2.84,1.61,12.22,12.22,0,0,0-2.58,5H1081c0-.36.06-.63.06-1s.07-.63.07-.89a5.62,5.62,0,0,0-1.13-3.7,3.94,3.94,0,0,0-3.11-1.25,6.27,6.27,0,0,0-1.27.18Zm0,21.2h1.2a10.62,10.62,0,0,0,5-1.17,21.18,21.18,0,0,0,4-2.69h.92l-1.52,8.71a18.9,18.9,0,0,1-4.9,2.07,19.59,19.59,0,0,1-4.71.72h-.72c-4.3,0-7.56-1.26-9.87-3.86s-3.45-6-3.45-10.51a31,31,0,0,1,1.13-8.45,22.21,22.21,0,0,1,3.25-6.84,15.82,15.82,0,0,1,5.1-4.48,16.68,16.68,0,0,1,4.56-1.53,20.13,20.13,0,0,1,2.2-.08c3.7,0,6.49,1,8.41,3s2.78,5,2.78,9a27.54,27.54,0,0,1-.26,4c-.2,1.25-.47,2.6-.8,3.86h-18.55v.71a7.94,7.94,0,0,0,1.86,5.48,6.52,6.52,0,0,0,4.36,2Z"/>
          <path class="fg-icon-pay__fill-1" d="M1150.68,115.21a5.45,5.45,0,0,1-1,.63,14.68,14.68,0,0,1-2.31,1.07,12.24,12.24,0,0,1-3,.37,6.4,6.4,0,0,1-5.1-2.34,9.4,9.4,0,0,1-1.93-6.19,15.07,15.07,0,0,1,1.4-6.83,10.83,10.83,0,0,1,4.11-4.41,17.78,17.78,0,0,1,6.15-2.24c.53-.1,1.06-.18,1.65-.27a42.67,42.67,0,0,1,6-.73c.06-.17.06-.35.12-.62s.07-.54.07-.9a3.41,3.41,0,0,0-1.46-3.06,9.5,9.5,0,0,0-4.37-.8h-.4a13.53,13.53,0,0,0-4,.9,32.62,32.62,0,0,0-3.58,1.52h-.73l1.13-8a25.57,25.57,0,0,1,4.37-1.08,14.94,14.94,0,0,1,2.77-.45,17.07,17.07,0,0,1,3-.18c3.92,0,6.76.72,8.62,2.07s2.71,3.5,2.71,6.46c0,.37,0,.9-.06,1.54s-.14,1.17-.21,1.7l-3.9,23h-8l.61-3.59c-.54.45-1.13,1-1.85,1.62l-1,.8Zm0-14a12.83,12.83,0,0,0-2.24.72,4.79,4.79,0,0,0-2,1.88,6.34,6.34,0,0,0-.74,3.24,2.72,2.72,0,0,0,1,2.42,4.49,4.49,0,0,0,2.71.72,3.66,3.66,0,0,0,1.32-.27,5.65,5.65,0,0,0,1.2-.45,15.88,15.88,0,0,0,2.52-1.88l1.25-7.19c-1.46.18-2.78.36-4,.63a3.07,3.07,0,0,0-.93.18Z"/>
          <path class="fg-icon-pay__fill-1" d="M1184.49,92.05c-1.75-1.36-5.65-1.08-6.46,1.69l-3.83,22.64h-8l5.76-33.78h8l-.16,2.72c1.51-1.52,3.21-2.82,7.52-2.68.26,0-2.61,5-2.82,9.41Z"/>
          <path class="fg-icon-pay__fill-6" d="M1200.23,89.79a5.22,5.22,0,0,0-1.12.72,8.91,8.91,0,0,0-2.65,3,17.14,17.14,0,0,0-1.46,4.58,24.64,24.64,0,0,0-.6,5.31,7.49,7.49,0,0,0,1,4.39,3.71,3.71,0,0,0,3.19,1.45,3.37,3.37,0,0,0,1.59-.37,2.7,2.7,0,0,0,.73-.35,14.19,14.19,0,0,0,2.25-1.53l2.84-16.62a5.94,5.94,0,0,0-1.71-.73,4.88,4.88,0,0,0-1.8-.35,6.21,6.21,0,0,0-2.31.45Zm0,24.8a13.92,13.92,0,0,1-2,1.52,11.17,11.17,0,0,1-1.91.9,9.18,9.18,0,0,1-2.32.27,6.82,6.82,0,0,1-5.84-3.15c-1.39-2.15-2.12-5.21-2.12-9.07a33,33,0,0,1,1.13-9.08,27.33,27.33,0,0,1,3.11-7.44,16.52,16.52,0,0,1,4.63-5,10.26,10.26,0,0,1,5.31-1.89h.26a10.54,10.54,0,0,1,3.58.54,11.72,11.72,0,0,1,3.11,1.8L1209,72.17h8l-7.34,44.21h-8l.59-3.5c-.72.62-1.39,1.17-2,1.71Z"/>
        </g>
        <g>
          <path id="rect3062" class="fg-icon-pay__fill-7" d="M620.66,2h302V190h-302Z"/>
          <path id="path3065" class="fg-icon-pay__fill-8" d="M630.86,13.76H910.61V53.31H630.86Z"/>
          <path id="path3069" class="fg-icon-pay__fill-9" d="M630.86,138.73H910.61v39.54H630.86Z"/>
          <path id="path3071" class="fg-icon-pay__fill-8" d="M677.37,63.37v0h-11.5v1.94h0c9,.29,11.66,4.51,12.65,9.42l5.29,52.48h17.41l37.2-63.87H721l-22.36,38.39-3.87-38.39Z"/>
          <path id="rect3086" class="fg-icon-pay__fill-8" d="M747.7,63.33h16.9l-20.73,63.93H727Z"/>
          <path id="path3089" class="fg-icon-pay__fill-8" d="M840.81,64.6l-32.69,62.66h18.34l4.77-9.56h21.28l.73,9.56h16.9L865.36,64.6Zm8.88,16.08,2,26.49H836.48Z"/>
          <path id="path3105" class="fg-icon-pay__fill-10" d="M768.74,79.59c2.54-10.14,10.86-17.06,25-17.06,13.28,0,23.12,8.29,23.12,8.29l-10,10.53s-7.43-5.74-11.8-5.74c-5.78,0-8.4,2.11-8.93,5.58-1.06,6.91,23.58,11.14,22.8,27.26-.52,10.76-11.66,21.2-24.39,21.2C765.43,129.65,756,122,756,122l8.61-12.28s8.63,6.92,16.74,6.54c5.47-.25,9.69-2.35,9.4-6.06-.64-8.4-26.59-12.26-22-30.61Z"/>
          <path id="path3151" class="fg-icon-pay__fill-10" d="M872.14,64.6a3.53,3.53,0,0,0-1.73.46,3.16,3.16,0,0,0-1.31,1.3,3.51,3.51,0,0,0-.48,1.76,3.56,3.56,0,0,0,.47,1.75,3.25,3.25,0,0,0,1.3,1.3,3.56,3.56,0,0,0,3.5,0,3.25,3.25,0,0,0,1.3-1.3,3.55,3.55,0,0,0,.46-1.75,3.6,3.6,0,0,0-.47-1.76,3.16,3.16,0,0,0-1.31-1.3,3.53,3.53,0,0,0-1.73-.46Zm0,.59a3,3,0,0,1,1.44.37,2.72,2.72,0,0,1,1.09,1.09,2.9,2.9,0,0,1,.4,1.47,3,3,0,0,1-.39,1.46,2.74,2.74,0,0,1-1.08,1.08,2.93,2.93,0,0,1-2.92,0,2.83,2.83,0,0,1-1.09-1.08,3.06,3.06,0,0,1-.38-1.46,3,3,0,0,1,.39-1.47,2.81,2.81,0,0,1,1.1-1.09A3,3,0,0,1,872.14,65.19Z"/>
          <path id="path3147" class="fg-icon-pay__fill-10" d="M870.69,66.18v4.15h.61V68.57h.36a.75.75,0,0,1,.49.14,3.25,3.25,0,0,1,.64,1l.34.65h.75l-.47-.81a4,4,0,0,0-.56-.82,1,1,0,0,0-.32-.22,1.16,1.16,0,0,0,1.09-1.17,1.2,1.2,0,0,0-.18-.61,1,1,0,0,0-.48-.4,2.82,2.82,0,0,0-1-.12Zm.61.57h.7a1.69,1.69,0,0,1,.61.07.56.56,0,0,1,.26.22.64.64,0,0,1-.1.78A1.09,1.09,0,0,1,872,68h-.74V66.75Z"/>
          <path id="path3159" class="fg-icon-pay__fill-10" d="M904.55,168.82a3.53,3.53,0,0,0-1.73.46,3.18,3.18,0,0,0-1.32,1.3,3.6,3.6,0,0,0-.47,1.76,3.56,3.56,0,0,0,.47,1.75,3.25,3.25,0,0,0,1.3,1.3,3.54,3.54,0,0,0,3.49,0,3.25,3.25,0,0,0,1.3-1.3,3.56,3.56,0,0,0,.47-1.75,3.6,3.6,0,0,0-.47-1.76,3.24,3.24,0,0,0-1.32-1.3,3.5,3.5,0,0,0-1.72-.46Zm0,.59a3,3,0,0,1,1.43.37,2.75,2.75,0,0,1,1.1,1.09,3,3,0,0,1,.39,1.47,3,3,0,0,1-.38,1.46,2.76,2.76,0,0,1-1.09,1.08,2.91,2.91,0,0,1-2.91,0A2.76,2.76,0,0,1,902,173.8a3,3,0,0,1-.39-1.46,2.9,2.9,0,0,1,.4-1.47,2.79,2.79,0,0,1,1.09-1.09A3,3,0,0,1,904.55,169.41Z"/>
          <path id="path3161" class="fg-icon-pay__fill-10" d="M903.09,170.4v4.15h.62v-1.76h.36a.79.79,0,0,1,.49.14,3.46,3.46,0,0,1,.64,1l.33.65h.75l-.46-.81a4.45,4.45,0,0,0-.56-.82,1,1,0,0,0-.32-.22,1.14,1.14,0,0,0,.78-.38,1.16,1.16,0,0,0,.3-.79,1.11,1.11,0,0,0-.18-.61,1,1,0,0,0-.47-.4,2.86,2.86,0,0,0-1-.12Zm.62.57h.69a1.75,1.75,0,0,1,.62.07.56.56,0,0,1,.26.22.64.64,0,0,1-.1.78,1.11,1.11,0,0,1-.73.18h-.74V171Z"/>
        </g>
        <g>
          <path class="fg-icon-pay__fill-11" d="M589.74.13H250.13a18.72,18.72,0,0,0-18.7,18.7V173.16a18.72,18.72,0,0,0,18.7,18.7H589.74a18.71,18.71,0,0,0,18.69-18.7V18.83A18.71,18.71,0,0,0,589.74.13Z"/>
          <rect class="fg-icon-pay__fill-12" x="231.43" y="0.13" width="191.73" height="191.73"/>
          <path class="fg-icon-pay__fill-13" d="M250.13,3.4H404.46a15.43,15.43,0,0,1,15.43,15.43h0V173.16a15.43,15.43,0,0,1-15.43,15.43H250.13a15.43,15.43,0,0,1-15.43-15.43h0V18.83A15.43,15.43,0,0,1,250.13,3.4Z"/>
          <path class="fg-icon-pay__fill-1" d="M404.46,3.4a15.43,15.43,0,0,1,15.43,15.43V173.16a15.43,15.43,0,0,1-15.43,15.43H250.13a15.42,15.42,0,0,1-15.43-15.42h0V18.83A15.43,15.43,0,0,1,250.13,3.4H404.46m0-3.27H250.13a18.72,18.72,0,0,0-18.7,18.7V173.16a18.72,18.72,0,0,0,18.7,18.7H404.46a18.72,18.72,0,0,0,18.7-18.7V18.83A18.72,18.72,0,0,0,404.46.13"/>
          <rect class="fg-icon-pay__fill-12" x="416.7" y="0.13" width="191.73" height="191.73"/>
          <rect class="fg-icon-pay__fill-12" x="305.26" y="0.13" width="191.73" height="191.73"/>
          <path class="fg-icon-pay__fill-14" d="M338.1,98V64.84l8.65-2.06v4.35s2.25-5.72,7.45-7a4.93,4.93,0,0,1,2.41-.17v8.46a12,12,0,0,0-4.54,1c-3.2,1.26-4.81,4-4.81,8.22V95.86Z"/>
          <path class="fg-icon-pay__fill-14" d="M292.48,108.78s-1.41-2.11-1.41-9.57V82.7l-4.45,1V77l4.46-1V68.49l9.2-2.18v7.42l6.51-1.55V79l-6.51,1.55s0,13.52,0,16.81c0,7.64,2,9.11,2,9.11Z"/>
          <path class="fg-icon-pay__fill-14" d="M307.75,89.05c0-5.89.84-10.2,2.64-13.5,2.14-3.91,5.66-6.46,10.78-7.63,10.1-2.3,13.74,3.68,13.6,11.69,0,2.87,0,4.26,0,4.26l-17.79,4.19v.28c0,5.6,1.18,8.26,4.73,7.51,3.06-.65,3.91-2.57,4.16-4.95,0-.38.05-1.35.05-1.35l8.34-2s0,.68,0,1.45c-.07,3.18-1,11.07-12.58,13.81-11,2.61-13.89-4.09-13.89-13.76m13.79-15c-2.94.66-4.49,3.56-4.56,8.35l8.95-2.14c0-.21,0-.69,0-1.44,0-3.61-1.14-5.52-4.41-4.77"/>
          <path class="fg-icon-pay__fill-14" d="M387.74,69.66C387.4,59.56,390,51.55,401.29,49c7.18-1.63,9.9.24,11.28,2s1.85,4,1.85,7.3v.59L405.61,61s0-1.19,0-1.23c0-3.86-1.06-5.33-3.87-4.62-3.33.83-4.68,4-4.68,10.29,0,2.23,0,2.63,0,2.93,0,6.4.88,9.32,4.72,8.52,3.33-.69,3.79-3.62,3.84-6.18,0-.4,0-1.69,0-1.69L414.45,67v1.37c0,8.38-4.44,13.67-12.71,15.59-11.41,2.68-13.64-3.91-14-14.27"/>
          <path class="fg-icon-pay__fill-14" d="M357.27,83.8c0-7.68,4.5-10.11,11.28-12.91,6.09-2.52,6.22-3.78,6.24-6,0-1.85-.82-3.42-3.85-2.65a4.58,4.58,0,0,0-3.67,4.34,16,16,0,0,0-.06,1.7l-8.54,2a17.51,17.51,0,0,1,.59-5c1.37-4.59,5.42-7.68,12.41-9.3,9.09-2.09,12.12,1.89,12.13,8.09V78.77c0,7.1,1.32,8.14,1.32,8.14l-8.39,2a18.17,18.17,0,0,1-1.12-3s-1.84,4.62-8.17,6.11c-6.65,1.57-10.17-2.55-10.17-8.2m17.47-10.49a32.68,32.68,0,0,1-4.46,2.61c-2.8,1.37-4.06,3-4.06,5.64,0,2.25,1.39,3.73,3.92,3.1,2.71-.68,4.6-3.21,4.6-6.73Z"/>
          <path class="fg-icon-pay__fill-14" d="M244.36,132a5.32,5.32,0,0,1-4.46-8.22l.06-.07.1,0,12.52-3v9.5l-.2.05c-2.84.68-6.23,1.46-6.93,1.61a5.68,5.68,0,0,1-1.09.11"/>
          <path class="fg-icon-pay__fill-14" d="M244.36,144.18a5.3,5.3,0,0,1-4.46-8.2l.06-.09.1,0,12.52-3v9.51l-.2.05c-2.84.68-6.23,1.47-6.93,1.61a5.74,5.74,0,0,1-1.09.1"/>
          <path class="fg-icon-pay__fill-14" d="M244.36,156.37a5.31,5.31,0,0,1-4.46-8.21l.06-.09,12.62-3v9.51l-.2.05c-3,.72-6.33,1.47-6.93,1.61a5.76,5.76,0,0,1-1.09.11"/>
          <polygon class="fg-icon-pay__fill-14" points="242.88 120.37 242.88 67.18 252.58 64.89 252.58 118.08 242.88 120.37"/>
          <path class="fg-icon-pay__fill-14" d="M267,115.85a6,6,0,0,0-12,0h0v49.71a16.22,16.22,0,0,0,16.19,16.2l16.94,0V161c0-11.33,0-22.87,0-23.13a7.84,7.84,0,0,0-3.48-6.52l-15.1-10.25v23.28a1.29,1.29,0,1,1-2.57,0c0-.25,0-25.46,0-28.53"/>
          <path class="fg-icon-pay__fill-14" d="M275.12,78.75a13.06,13.06,0,0,0-8.63,6.68V81.69l-8.74,2.06v23.88a8.91,8.91,0,0,1,9.2,1.61V93.82c0-3.69,1.83-6.64,4.46-7.22,2-.43,3.62.27,3.62,3.79v22.49l9.2-2.16V86.93c0-5.77-2.22-9.8-9.13-8.18"/>
          <path class="fg-icon-pay__fill-14" d="M408.75,44.71A5.69,5.69,0,1,1,414.43,39h0a5.69,5.69,0,0,1-5.68,5.68m0-10.66a5,5,0,1,0,5,5,5,5,0,0,0-5-5"/>
          <path class="fg-icon-pay__fill-14" d="M406.68,35.64h2.45a1.59,1.59,0,0,1,1.76,1.42,1.09,1.09,0,0,1,0,.36c0,.9-.4,1.59-1.15,1.71h0c.68.08,1.05.45,1.08,1.43,0,.44,0,1,0,1.41a.73.73,0,0,0,.33.6h-1.25a1.13,1.13,0,0,1-.19-.62c0-.41,0-.8-.05-1.31,0-.75-.25-1.08-1-1.08h-.9v3h-1.11Zm2,3.09a1,1,0,0,0,1.11-.92.74.74,0,0,0,0-.21c0-.74-.32-1.13-1-1.13h-.94v2.26Z"/>
          <g>
            <path class="fg-icon-pay__fill-1" d="M473,111a8.9,8.9,0,0,1-1.63,4.82,10.05,10.05,0,0,1-3.9,3.26,16,16,0,0,1-7.52,1.5,16.44,16.44,0,0,1-7.61-1.5,9.68,9.68,0,0,1-3.8-3.26A8.82,8.82,0,0,1,447,111V84.94a8.85,8.85,0,0,1,1.63-4.77,9.76,9.76,0,0,1,3.8-3.31A17.09,17.09,0,0,1,460,75.35a16.63,16.63,0,0,1,7.52,1.51,10.13,10.13,0,0,1,3.9,3.31A8.93,8.93,0,0,1,473,84.94Zm-9.79-26.1A3.24,3.24,0,0,0,462,82.16a3.79,3.79,0,0,0-2-.48,2.91,2.91,0,0,0-2.9,1.63,3.24,3.24,0,0,0-.36,1.63V111a3.12,3.12,0,0,0,1.36,2.77,3.41,3.41,0,0,0,1.9.49c1.72,0,2.54-.73,2.9-1.63a3,3,0,0,0,.36-1.63Z"/>
            <path class="fg-icon-pay__fill-1" d="M488.8,120.14h-9.15v-33h9.15v2.77a7.25,7.25,0,0,0,1.08-.66,18.9,18.9,0,0,1,4-2.17,6.5,6.5,0,0,1,2.35-.43,6.5,6.5,0,0,1,6.89,6.46v27H494V94c0-1.27-1.09-1.45-2.17-1.45a3.49,3.49,0,0,0-2.18.79,9.75,9.75,0,0,0-.81.78Z"/>
            <path class="fg-icon-pay__fill-1" d="M510.17,120.14V75.83h9.15v44.31Z"/>
            <path class="fg-icon-pay__fill-1" d="M526.57,75.83h9.15v6.09h-9.15Zm0,44.31v-33h9.15v33Z"/>
            <path class="fg-icon-pay__fill-1" d="M552.11,120.14H543v-33h9.15v2.77a7.16,7.16,0,0,0,1.09-.66,18.55,18.55,0,0,1,4-2.17,6.55,6.55,0,0,1,2.36-.43,6.49,6.49,0,0,1,6.88,6.46v27h-9.15V94c0-1.27-1.08-1.45-2.17-1.45a3.44,3.44,0,0,0-2.17.79,9.82,9.82,0,0,0-.82.78Z"/>
            <path class="fg-icon-pay__fill-1" d="M596.4,108.33v3.79c-.27,3.2-1.72,5.43-5,7.18a14.35,14.35,0,0,1-6.88,1.32c-5.89,0-8.88-2.17-10.33-4.34a8.87,8.87,0,0,1-1.45-4.34V95.37c.27-3.2,1.81-5.55,5.08-7.36,1.54-.9,3.8-1.33,6.79-1.33,5.89,0,8.88,2.18,10.33,4.28a8.7,8.7,0,0,1,1.44,4.22v9.59H581.28v7.17a3.84,3.84,0,0,0,1.45,2.84,3.39,3.39,0,0,0,1.9.48c1.72,0,2.54-.72,2.9-1.63a3.32,3.32,0,0,0,.36-1.69v-3.61ZM581.28,100h6.61V95.37a3.38,3.38,0,0,0-1.27-2.9,3.75,3.75,0,0,0-2-.48,2.86,2.86,0,0,0-2.9,1.69,4.6,4.6,0,0,0-.45,1.69Z"/>
          </g>
        </g>
        <g>
          <polygon class="fg-icon-pay__fill-15" points="1245.18 0.13 1245.18 191.13 1436.17 191.13 1436.17 104.23 1436.17 0.13 1245.18 0.13"/>
          <g>
            <g class="fg-icon-pay__fill-16">
              <path class="fg-icon-pay__fill-1" d="M1412.8,92.74h14.34V59.37h-15.31V64.7l-3.41-5.33h-13.34v6.75l-3-6.75H1370a20.8,20.8,0,0,0-3.09.23,18.07,18.07,0,0,0-2.49.58,16,16,0,0,0-1.83.69,14.76,14.76,0,0,0-2,1.11V59.37h-72l-2,5.82-2-5.82H1268v6.82l-3-6.82h-13.66l-6.11,14.27v19.1h9.68l1.8-4.79H1260l1.83,4.79h74.47V87.89l3.73,4.85h20.57V90.32a14.77,14.77,0,0,0,1.65.9,13.9,13.9,0,0,0,1.72.67,17,17,0,0,0,2.18.55,20.07,20.07,0,0,0,3.49.3H1382l1.8-4.79h3.41l1.83,4.79h20.65V87.79Zm23.4,42.8V104.23H1317.69l-3,4.27-3-4.27h-34.08V137.6h34l3-4.34,3.06,4.34h21.25v-7.2h-.22a20.52,20.52,0,0,0,7.17-1.27v8.47h14.82v-4.85l3.73,4.85h64.3a15,15,0,0,0,5.15-.88A13.11,13.11,0,0,0,1436.2,135.54Z"/>
            </g>
            <g class="fg-icon-pay__fill-17">
              <path class="fg-icon-pay__fill-15" d="M1428.75,127.67H1417.2v4.5h11.38c4.86,0,7.75-3,7.75-7.17,0-4-2.6-6.37-7-6.37h-5.21a2,2,0,0,1-2.19-2.15,2.11,2.11,0,0,1,2.19-2.25h9.77l2-4.57h-11.61c-4.86,0-7.75,3-7.75,7s2.73,6.53,7,6.53h5.18a2.08,2.08,0,0,1,2.21,2.18A2.14,2.14,0,0,1,1428.75,127.67Zm-21.42,0h-11.54v4.5h11.38c4.86,0,7.75-3,7.75-7.17,0-4-2.6-6.37-7-6.37h-5.21a2,2,0,0,1-2.18-2.15,2.11,2.11,0,0,1,2.18-2.25h9.78l2-4.57h-11.61c-4.85,0-7.75,3-7.75,7s2.74,6.53,7,6.53h5.18a2.08,2.08,0,0,1,2.22,2.18A2.14,2.14,0,0,1,1407.33,127.67Zm-14.82-13.44v-4.57h-18v22.51h18v-4.54h-12.6V123.1h12.31v-4.5h-12.31v-4.37Zm-30.16,0a2.79,2.79,0,1,1,0,5.56H1356v-5.56Zm-6.34,9.8h2.55l6.71,8.11H1372l-7.49-8.3a7,7,0,0,0,6.11-7.07c0-4.21-3-7.14-7.78-7.14h-12.22v22.51h5.4Zm-13.76-6.84a2.63,2.63,0,0,1-2.86,2.76h-6.46v-5.53h6.46A2.62,2.62,0,0,1,1342.25,117.22Zm-14.72-7.56v22.51h5.4v-7.43h6.78c4.92,0,8-3.22,8-7.56s-3-7.52-7.79-7.52Zm-8,22.51h6.76l-9-11.35,9-11.16h-6.56l-5.53,7.14-5.49-7.14h-6.76l9,11.25-9,11.26h6.56l5.53-7.24Zm-18.74-17.94v-4.57h-18v22.51h18v-4.54h-12.6V123.1h12.31v-4.5h-12.31v-4.37Z"/>
            </g>
            <path class="fg-icon-pay__fill-15" d="M1405.3,73.84l-.06-1.87,1.13,1.87L1415,87.31h6.31V64.8H1416v13l.07,1.68-1-1.68-8.43-13H1400V87.31h5.27Zm-21.54-.65L1385.4,69l1.64,4.21,2,5h-7.24Zm8.94,14.12h6.08l-9.62-22.51h-7.1l-9.65,22.51h5.76l1.89-4.82h10.71Zm-23.57,0h.29l2.22-4.79H1370c-3.7,0-5.88-2.32-5.88-6.3V75.9c0-3.57,2-6.24,5.82-6.24h5.85V64.8h-6.3c-7,0-10.74,4.67-10.74,11.06v.39C1358.75,82.94,1362.64,87.28,1369.13,87.31Zm-19.19,0h5.4V64.8h-5.4V87.31ZM1338.59,69.4a2.79,2.79,0,1,1,0,5.56h-6.34V69.4Zm-6.34,9.81h2.54l6.72,8.1h6.72l-7.49-8.3a7,7,0,0,0,6.11-7.07c0-4.21-3-7.14-7.78-7.14h-12.22V87.31h5.4Zm-9.35-9.84V64.8h-18V87.31h18v-4.6h-12.61V78.24h12.32v-4.5h-12.32V69.37Zm-44.79,2.57-.13-6.08,6.24,21.45h4.88L1295.34,66l-.13,5.92v15.4h5.24V64.8h-9.51l-4.28,16-4.31-16h-9.48V87.31h5.24Zm-21.51,1.25,1.64-4.21,1.64,4.21,2,5h-7.23Zm8.93,14.12h6.08L1262,64.8h-7.11l-9.64,22.51H1251l1.9-4.82h10.71Z"/>
          </g>
        </g>
        <g>
          <g>
            <path class="fg-icon-pay__fill-18" d="M39.23,136.88c-2.46-2.88-6.81-4.41-12.59-4.41H9.37a2.41,2.41,0,0,0-2.37,2L0,178.78a1.44,1.44,0,0,0,1.42,1.66H9.69a2.41,2.41,0,0,0,2.37-2l1.88-11.94a2.4,2.4,0,0,1,2.37-2h5.46c11.38,0,17.94-5.5,19.66-16.41C42.2,143.26,41.46,139.51,39.23,136.88Zm-10.6,11.77c-.94,6.19-5.68,6.19-10.25,6.19H15.77l1.83-11.57A1.43,1.43,0,0,1,19,142.06h1.19c3.12,0,6.06,0,7.58,1.77C28.7,144.89,29,146.47,28.63,148.65Z"/>
            <path class="fg-icon-pay__fill-18" d="M78.26,148.45H70a1.42,1.42,0,0,0-1.42,1.21L68.2,152l-.58-.83c-1.79-2.6-5.78-3.47-9.77-3.47-9.13,0-16.94,6.92-18.46,16.63A15.63,15.63,0,0,0,42.47,177c2.52,3,6.13,4.21,10.42,4.21a15.8,15.8,0,0,0,11.44-4.74l-.37,2.3a1.45,1.45,0,0,0,1.42,1.67h7.45a2.39,2.39,0,0,0,2.37-2l4.47-28.3A1.43,1.43,0,0,0,78.26,148.45ZM66.73,164.54a9.23,9.23,0,0,1-9.33,7.9,7,7,0,0,1-5.55-2.23,7,7,0,0,1-1.3-5.81,9.26,9.26,0,0,1,9.27-8,7,7,0,0,1,5.51,2.25A7.16,7.16,0,0,1,66.73,164.54Z"/>
            <path class="fg-icon-pay__fill-18" d="M122.29,148.45H114a2.39,2.39,0,0,0-2,1.05l-11.46,16.88-4.86-16.22a2.4,2.4,0,0,0-2.3-1.71H85.21a1.43,1.43,0,0,0-1.36,1.9L93,177.21l-8.61,12.15a1.44,1.44,0,0,0,1.18,2.27h8.3a2.4,2.4,0,0,0,2-1l27.64-39.89A1.44,1.44,0,0,0,122.29,148.45Z"/>
            <path class="fg-icon-pay__fill-19" d="M162.39,136.88c-2.46-2.88-6.81-4.41-12.59-4.41H132.53a2.39,2.39,0,0,0-2.36,2l-7,44.28a1.44,1.44,0,0,0,1.42,1.66h8.86a1.68,1.68,0,0,0,1.66-1.42l2-12.55a2.4,2.4,0,0,1,2.37-2h5.46c11.38,0,17.94-5.5,19.66-16.41C165.36,143.26,164.62,139.51,162.39,136.88ZM151.8,148.65c-1,6.19-5.68,6.19-10.26,6.19h-2.6l1.83-11.57a1.43,1.43,0,0,1,1.42-1.21h1.19c3.12,0,6.06,0,7.58,1.77C151.87,144.89,152.14,146.47,151.8,148.65Z"/>
            <path class="fg-icon-pay__fill-19" d="M201.42,148.45h-8.27a1.43,1.43,0,0,0-1.42,1.21l-.36,2.31-.58-.83c-1.79-2.6-5.78-3.47-9.77-3.47-9.13,0-16.94,6.92-18.46,16.63a15.67,15.67,0,0,0,3.08,12.7c2.53,3,6.13,4.21,10.42,4.21a15.8,15.8,0,0,0,11.44-4.74l-.37,2.3a1.45,1.45,0,0,0,1.43,1.67H196a2.4,2.4,0,0,0,2.37-2l4.47-28.3A1.44,1.44,0,0,0,201.42,148.45Zm-11.53,16.09a9.22,9.22,0,0,1-9.33,7.9,7,7,0,0,1-5.55-2.23,7.08,7.08,0,0,1-1.3-5.81,9.26,9.26,0,0,1,9.27-8,7,7,0,0,1,5.51,2.25A7.09,7.09,0,0,1,189.89,164.54Z"/>
            <path class="fg-icon-pay__fill-19" d="M211.17,133.69l-7.09,45.09a1.44,1.44,0,0,0,1.42,1.66h7.12a2.39,2.39,0,0,0,2.37-2l7-44.27a1.44,1.44,0,0,0-1.42-1.67h-8A1.43,1.43,0,0,0,211.17,133.69Z"/>
          </g>
          <g>
            <path class="fg-icon-pay__fill-18" d="M91.84,104.57h0l5-31.87.18-1.17,6.3-39.89A4.73,4.73,0,0,1,106,28.1a4.8,4.8,0,0,1,2-.46h29.61a62,62,0,0,1,9.77.71q1.28.21,2.49.48c.81.18,1.59.38,2.36.6l1.11.35a26.71,26.71,0,0,1,4.1,1.73h0c1.48-9.45,0-15.89-5.12-21.72C146.7,3.37,136.53.63,123.52.63H85.74A5.41,5.41,0,0,0,80.4,5.19L64.67,104.94a3.24,3.24,0,0,0,3.2,3.75H91.19Z"/>
            <path class="fg-icon-pay__fill-19" d="M157.46,31.51c-.12.72-.24,1.46-.39,2.21-5,25.58-22,34.42-43.8,34.42H102.19a5.38,5.38,0,0,0-5.32,4.56l-5.68,36-1.6,10.2a2.84,2.84,0,0,0,2.8,3.28h19.66a4.74,4.74,0,0,0,4.67-4l.19-1,3.7-23.49.24-1.28a4.72,4.72,0,0,1,4.67-4h2.94c19,0,34-7.73,38.32-30.11,1.82-9.35.87-17.15-3.94-22.64A18.81,18.81,0,0,0,157.46,31.51Z"/>
            <path class="fg-icon-pay__fill-20" d="M152.25,29.43c-.77-.22-1.55-.42-2.36-.6s-1.64-.34-2.49-.48a62,62,0,0,0-9.77-.71H108a4.8,4.8,0,0,0-2,.46,4.73,4.73,0,0,0-2.63,3.54l-6.3,39.89-.18,1.17a5.38,5.38,0,0,1,5.32-4.56h11.08c21.77,0,38.82-8.84,43.8-34.42.15-.75.27-1.49.39-2.21a26.71,26.71,0,0,0-4.1-1.73Z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
