<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150" class="fg-icon-flag">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
      }

      .Graphic-Style-2 {
        fill: #d60000;
      }

      .flag-blue {
        fill: #00008b;
      }
    </style>
  </defs>
  <title>USA-flag</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="USA_flag" data-name="USA flag">
      <g>
        <rect id="_59" data-name="59" class="cls-1" width="300" height="150"/>
        <rect id="_58" data-name="58" class="Graphic-Style-2" width="300" height="11.54"/>
        <rect id="_57" data-name="57" class="Graphic-Style-2" y="23.08" width="300" height="11.54"/>
        <rect id="_56" data-name="56" class="Graphic-Style-2" y="46.15" width="300" height="11.54"/>
        <rect id="_55" data-name="55" class="Graphic-Style-2" y="69.23" width="300" height="11.54"/>
        <rect id="_54" data-name="54" class="Graphic-Style-2" y="92.31" width="300" height="11.54"/>
        <rect id="_53" data-name="53" class="Graphic-Style-2" y="115.38" width="300" height="11.54"/>
        <rect id="_52" data-name="52" class="Graphic-Style-2" y="138.46" width="300" height="11.54"/>
        <rect id="_51" data-name="51" class="flag-blue" width="114" height="80.77"/>
        <polygon id="_50" data-name="50" class="cls-1" points="5.36 6.56 8.07 8.53 7.03 11.72 9.75 9.75 12.47 11.72 11.43 8.53 14.14 6.56 10.79 6.56 9.75 3.37 8.71 6.56 5.36 6.56"/>
        <polygon id="_49" data-name="49" class="cls-1" points="24.26 6.56 26.97 8.53 25.93 11.72 28.65 9.75 31.36 11.72 30.33 8.53 33.04 6.56 29.69 6.56 28.65 3.37 27.61 6.56 24.26 6.56"/>
        <polygon id="_48" data-name="48" class="cls-1" points="43.16 6.56 45.87 8.53 44.83 11.72 47.55 9.75 50.27 11.72 49.23 8.53 51.94 6.56 48.59 6.56 47.55 3.37 46.51 6.56 43.16 6.56"/>
        <polygon id="_47" data-name="47" class="cls-1" points="62.06 6.56 64.77 8.53 63.73 11.72 66.45 9.75 69.17 11.72 68.13 8.53 70.84 6.56 67.49 6.56 66.45 3.37 65.41 6.56 62.06 6.56"/>
        <polygon id="_46" data-name="46" class="cls-1" points="80.96 6.56 83.67 8.53 82.63 11.72 85.35 9.75 88.06 11.72 87.03 8.53 89.74 6.56 86.39 6.56 85.35 3.37 84.31 6.56 80.96 6.56"/>
        <polygon id="_45" data-name="45" class="cls-1" points="99.86 6.56 102.57 8.53 101.53 11.72 104.25 9.75 106.97 11.72 105.93 8.53 108.64 6.56 105.29 6.56 104.25 3.37 103.21 6.56 99.86 6.56"/>
        <polygon id="_44" data-name="44" class="cls-1" points="14.81 14.66 17.52 16.63 16.48 19.82 19.2 17.85 21.91 19.82 20.88 16.63 23.59 14.66 20.24 14.66 19.2 11.46 18.16 14.66 14.81 14.66"/>
        <polygon id="_43" data-name="43" class="cls-1" points="33.71 14.66 36.42 16.63 35.38 19.82 38.1 17.85 40.81 19.82 39.78 16.63 42.49 14.66 39.14 14.66 38.1 11.46 37.06 14.66 33.71 14.66"/>
        <polygon id="_42" data-name="42" class="cls-1" points="52.61 14.66 55.32 16.63 54.28 19.82 57 17.85 59.72 19.82 58.68 16.63 61.39 14.66 58.04 14.66 57 11.46 55.96 14.66 52.61 14.66"/>
        <polygon id="_41" data-name="41" class="cls-1" points="71.51 14.66 74.22 16.63 73.18 19.82 75.9 17.85 78.61 19.82 77.58 16.63 80.29 14.66 76.94 14.66 75.9 11.46 74.86 14.66 71.51 14.66"/>
        <polygon id="_40" data-name="40" class="cls-1" points="90.41 14.66 93.12 16.63 92.08 19.82 94.8 17.85 97.52 19.82 96.48 16.63 99.19 14.66 95.84 14.66 94.8 11.46 93.76 14.66 90.41 14.66"/>
        <polygon id="_39" data-name="39" class="cls-1" points="5.36 22.76 8.07 24.73 7.03 27.92 9.75 25.95 12.47 27.92 11.43 24.73 14.14 22.76 10.79 22.76 9.75 19.57 8.71 22.76 5.36 22.76"/>
        <polygon id="_38" data-name="38" class="cls-1" points="24.26 22.76 26.97 24.73 25.93 27.92 28.65 25.95 31.36 27.92 30.33 24.73 33.04 22.76 29.69 22.76 28.65 19.57 27.61 22.76 24.26 22.76"/>
        <polygon id="_37" data-name="37" class="cls-1" points="43.16 22.76 45.87 24.73 44.83 27.92 47.55 25.95 50.27 27.92 49.23 24.73 51.94 22.76 48.59 22.76 47.55 19.57 46.51 22.76 43.16 22.76"/>
        <polygon id="_36" data-name="36" class="cls-1" points="62.06 22.76 64.77 24.73 63.73 27.92 66.45 25.95 69.17 27.92 68.13 24.73 70.84 22.76 67.49 22.76 66.45 19.57 65.41 22.76 62.06 22.76"/>
        <polygon id="_35" data-name="35" class="cls-1" points="80.96 22.76 83.67 24.73 82.63 27.92 85.35 25.95 88.06 27.92 87.03 24.73 89.74 22.76 86.39 22.76 85.35 19.57 84.31 22.76 80.96 22.76"/>
        <polygon id="_34" data-name="34" class="cls-1" points="99.86 22.76 102.57 24.73 101.53 27.92 104.25 25.95 106.97 27.92 105.93 24.73 108.64 22.76 105.29 22.76 104.25 19.57 103.21 22.76 99.86 22.76"/>
        <polygon id="_33" data-name="33" class="cls-1" points="15.04 30.88 17.75 32.86 16.72 36.05 19.43 34.08 22.15 36.05 21.11 32.86 23.83 30.88 20.47 30.88 19.43 27.69 18.4 30.88 15.04 30.88"/>
        <polygon id="_32" data-name="32" class="cls-1" points="33.94 30.88 36.66 32.86 35.62 36.05 38.33 34.08 41.05 36.05 40.01 32.86 42.73 30.88 39.37 30.88 38.33 27.69 37.3 30.88 33.94 30.88"/>
        <polygon id="_31" data-name="31" class="cls-1" points="52.84 30.88 55.55 32.86 54.52 36.05 57.23 34.08 59.95 36.05 58.91 32.86 61.63 30.88 58.27 30.88 57.23 27.69 56.2 30.88 52.84 30.88"/>
        <polygon id="_30" data-name="30" class="cls-1" points="71.74 30.88 74.45 32.86 73.42 36.05 76.13 34.08 78.85 36.05 77.81 32.86 80.53 30.88 77.17 30.88 76.13 27.69 75.1 30.88 71.74 30.88"/>
        <polygon id="_29" data-name="29" class="cls-1" points="90.64 30.88 93.36 32.86 92.32 36.05 95.03 34.08 97.75 36.05 96.71 32.86 99.43 30.88 96.07 30.88 95.03 27.69 94 30.88 90.64 30.88"/>
        <polygon id="_28" data-name="28" class="cls-1" points="5.64 38.92 8.36 40.89 7.32 44.08 10.04 42.11 12.75 44.08 11.71 40.89 14.43 38.92 11.07 38.92 10.04 35.72 9 38.92 5.64 38.92"/>
        <polygon id="_27" data-name="27" class="cls-1" points="24.54 38.92 27.26 40.89 26.22 44.08 28.94 42.11 31.65 44.08 30.61 40.89 33.33 38.92 29.97 38.92 28.94 35.72 27.9 38.92 24.54 38.92"/>
        <polygon id="_26" data-name="26" class="cls-1" points="43.44 38.92 46.16 40.89 45.12 44.08 47.84 42.11 50.55 44.08 49.52 40.89 52.23 38.92 48.87 38.92 47.84 35.72 46.8 38.92 43.44 38.92"/>
        <polygon id="_25" data-name="25" class="cls-1" points="62.34 38.92 65.06 40.89 64.02 44.08 66.74 42.11 69.45 44.08 68.42 40.89 71.13 38.92 67.77 38.92 66.74 35.72 65.7 38.92 62.34 38.92"/>
        <polygon id="_24" data-name="24" class="cls-1" points="81.24 38.92 83.96 40.89 82.92 44.08 85.64 42.11 88.35 44.08 87.31 40.89 90.03 38.92 86.67 38.92 85.64 35.72 84.6 38.92 81.24 38.92"/>
        <polygon id="_23" data-name="23" class="cls-1" points="100.14 38.92 102.86 40.89 101.82 44.08 104.54 42.11 107.25 44.08 106.22 40.89 108.93 38.92 105.57 38.92 104.54 35.72 103.5 38.92 100.14 38.92"/>
        <polygon id="_22" data-name="22" class="cls-1" points="5.82 54.86 8.54 56.83 7.5 60.02 10.21 58.05 12.93 60.02 11.89 56.83 14.61 54.86 11.25 54.86 10.21 51.67 9.18 54.86 5.82 54.86"/>
        <polygon id="_21" data-name="21" class="cls-1" points="24.72 54.86 27.43 56.83 26.4 60.02 29.11 58.05 31.83 60.02 30.79 56.83 33.51 54.86 30.15 54.86 29.11 51.67 28.08 54.86 24.72 54.86"/>
        <polygon id="_20" data-name="20" class="cls-1" points="43.62 54.86 46.34 56.83 45.3 60.02 48.01 58.05 50.73 60.02 49.69 56.83 52.41 54.86 49.05 54.86 48.01 51.67 46.98 54.86 43.62 54.86"/>
        <polygon id="_19" data-name="19" class="cls-1" points="62.52 54.86 65.24 56.83 64.2 60.02 66.91 58.05 69.63 60.02 68.59 56.83 71.31 54.86 67.95 54.86 66.91 51.67 65.88 54.86 62.52 54.86"/>
        <polygon id="_18" data-name="18" class="cls-1" points="81.42 54.86 84.14 56.83 83.1 60.02 85.81 58.05 88.53 60.02 87.49 56.83 90.21 54.86 86.85 54.86 85.81 51.67 84.78 54.86 81.42 54.86"/>
        <polygon id="_17" data-name="17" class="cls-1" points="100.32 54.86 103.03 56.83 102 60.02 104.71 58.05 107.43 60.02 106.39 56.83 109.11 54.86 105.75 54.86 104.71 51.67 103.68 54.86 100.32 54.86"/>
        <polygon id="_16" data-name="16" class="cls-1" points="5.59 70.99 8.3 72.96 7.27 76.16 9.98 74.18 12.7 76.16 11.66 72.96 14.38 70.99 11.02 70.99 9.98 67.8 8.95 70.99 5.59 70.99"/>
        <polygon id="_15" data-name="15" class="cls-1" points="24.49 70.99 27.2 72.96 26.17 76.16 28.88 74.18 31.6 76.16 30.56 72.96 33.28 70.99 29.92 70.99 28.88 67.8 27.85 70.99 24.49 70.99"/>
        <polygon id="_14" data-name="14" class="cls-1" points="43.39 70.99 46.1 72.96 45.07 76.16 47.78 74.18 50.5 76.16 49.46 72.96 52.18 70.99 48.82 70.99 47.78 67.8 46.75 70.99 43.39 70.99"/>
        <polygon id="_13" data-name="13" class="cls-1" points="62.29 70.99 65 72.96 63.97 76.16 66.68 74.18 69.4 76.16 68.36 72.96 71.08 70.99 67.72 70.99 66.68 67.8 65.65 70.99 62.29 70.99"/>
        <polygon id="_12" data-name="12" class="cls-1" points="81.19 70.99 83.91 72.96 82.87 76.16 85.58 74.18 88.3 76.16 87.26 72.96 89.98 70.99 86.62 70.99 85.58 67.8 84.55 70.99 81.19 70.99"/>
        <polygon id="_11" data-name="11" class="cls-1" points="100.09 70.99 102.8 72.96 101.77 76.16 104.48 74.18 107.2 76.16 106.16 72.96 108.88 70.99 105.52 70.99 104.48 67.8 103.45 70.99 100.09 70.99"/>
        <polygon id="_10" data-name="10" class="cls-1" points="15.1 46.81 17.81 48.78 16.77 51.97 19.49 50 22.2 51.97 21.17 48.78 23.88 46.81 20.53 46.81 19.49 43.62 18.45 46.81 15.1 46.81"/>
        <polygon id="_9" data-name="9" class="cls-1" points="33.99 46.81 36.71 48.78 35.67 51.97 38.39 50 41.1 51.97 40.07 48.78 42.78 46.81 39.43 46.81 38.39 43.62 37.35 46.81 33.99 46.81"/>
        <polygon id="_8" data-name="8" class="cls-1" points="52.9 46.81 55.61 48.78 54.57 51.97 57.29 50 60.01 51.97 58.97 48.78 61.68 46.81 58.33 46.81 57.29 43.62 56.25 46.81 52.9 46.81"/>
        <polygon id="_7" data-name="7" class="cls-1" points="71.8 46.81 74.51 48.78 73.47 51.97 76.19 50 78.91 51.97 77.87 48.78 80.58 46.81 77.23 46.81 76.19 43.62 75.15 46.81 71.8 46.81"/>
        <polygon id="_6" data-name="6" class="cls-1" points="90.69 46.81 93.41 48.78 92.37 51.97 95.09 50 97.81 51.97 96.77 48.78 99.48 46.81 96.13 46.81 95.09 43.62 94.05 46.81 90.69 46.81"/>
        <polygon id="_5" data-name="5" class="cls-1" points="15.04 62.91 17.75 64.89 16.72 68.08 19.43 66.11 22.15 68.08 21.11 64.89 23.83 62.91 20.47 62.91 19.43 59.72 18.4 62.91 15.04 62.91"/>
        <polygon id="_4" data-name="4" class="cls-1" points="33.94 62.91 36.66 64.89 35.62 68.08 38.33 66.11 41.05 68.08 40.01 64.89 42.73 62.91 39.37 62.91 38.33 59.72 37.3 62.91 33.94 62.91"/>
        <polygon id="_3" data-name="3" class="cls-1" points="52.84 62.91 55.55 64.89 54.52 68.08 57.23 66.11 59.95 68.08 58.91 64.89 61.63 62.91 58.27 62.91 57.23 59.72 56.2 62.91 52.84 62.91"/>
        <polygon id="_2" data-name="2" class="cls-1" points="71.74 62.91 74.45 64.89 73.42 68.08 76.13 66.11 78.85 68.08 77.81 64.89 80.53 62.91 77.17 62.91 76.13 59.72 75.1 62.91 71.74 62.91"/>
        <polygon id="_1" data-name="1" class="cls-1" points="90.64 62.91 93.36 64.89 92.32 68.08 95.03 66.11 97.75 68.08 96.71 64.89 99.43 62.91 96.07 62.91 95.03 59.72 94 62.91 90.64 62.91"/>
      </g>
    </g>
  </g>
</svg>
