<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 282.74 161.01">
  <defs>
    <style>
      .cls-1, .cls-2, .cls-3 {
        fill: none;
        stroke: #3a8bca;
      }

      .cls-1, .cls-3 {
        stroke-linecap: round;
      }

      .cls-1 {
        stroke-linejoin: round;
        stroke-width: 5px;
      }

      .cls-2, .cls-3 {
        stroke-miterlimit: 10;
        stroke-width: 6px;
      }
    </style>
  </defs>
  <title>widget_window-hatch-lift</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_2-2" data-name="Layer 2">
      <g id="widget_window-hatch-lift">
        <polygon class="cls-1" points="203.35 158.51 2.5 158.51 2.5 2.5 79.62 127.18 203.35 127.31 203.35 158.51"/>
        <g>
          <polygon class="cls-1" points="280.24 127.31 79.39 127.31 2.5 2.5 203.35 2.5 280.24 127.31"/>
          <line class="cls-2" x1="102.79" y1="2.33" x2="179.69" y2="127.15"/>
          <line class="cls-3" x1="240.98" y1="64.74" x2="42.62" y2="64.74"/>
        </g>
      </g>
    </g>
  </g>
</svg>
