<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.96 128">
  <defs>
    <style>
      .logo-customer {
        fill: #fefefe;
      }
    </style>
  </defs>
  <title>Tesla Company Logo</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Tesla">
      <g id="logo-tesla">
        <path class="logo-customer" d="M51.36,89.67,64,18.82c12,0,15.79,1.31,16.34,6.69,0,0,8.06-3,12.12-9.11A89,89,0,0,0,60.64,8.73l-9.3,11.32h0L42.06,8.72A88.94,88.94,0,0,0,10.28,16.4c4.06,6.1,12.12,9.11,12.12,9.11.55-5.38,4.33-6.69,16.26-6.7l12.7,70.86Z"/>
        <path class="logo-customer" d="M51.35,5.45A104,104,0,0,1,93.86,14a33.65,33.65,0,0,0,2.52-5.21A123.46,123.46,0,0,0,51.35,0a123.41,123.41,0,0,0-45,8.77A42.94,42.94,0,0,0,8.85,14a104,104,0,0,1,42.5-8.53Z"/>
        <path class="logo-customer" d="M25,117.68h9.59a3.55,3.55,0,0,0,2.6-2.58H22.35A3.58,3.58,0,0,0,25,117.68Z"/>
        <path class="logo-customer" d="M25,122.76h9.59a3.52,3.52,0,0,0,2.6-2.57H22.35A3.55,3.55,0,0,0,25,122.76Z"/>
        <path class="logo-customer" d="M25,128h9.59a3.53,3.53,0,0,0,2.6-2.58H22.35A3.56,3.56,0,0,0,25,128Z"/>
        <path class="logo-customer" d="M86.77,117.69h9.59a3.53,3.53,0,0,0,2.6-2.58H84.16a3.56,3.56,0,0,0,2.61,2.58Z"/>
        <path class="logo-customer" d="M0,115.13a3.59,3.59,0,0,0,2.6,2.56h4l.2.08V128H9.37V117.77l.22-.08h4a3.62,3.62,0,0,0,2.59-2.56v0H0v0Z"/>
        <path class="logo-customer" d="M77,128a3.56,3.56,0,0,0,2.19-2.54H68V115.11H65.49V128Z"/>
        <path class="logo-customer" d="M46.83,117.65h8.86a3.86,3.86,0,0,0,2.73-2.53H44.35v7.6H55.87v2.67h-9a5,5,0,0,0-3.21,2.6H58.35V120.2H46.83v-2.55Z"/>
        <polygon class="logo-customer" points="84.55 120.2 84.55 127.99 87.04 127.99 87.04 122.81 96.13 122.81 96.13 127.99 98.62 127.99 98.62 120.22 84.55 120.2 84.55 120.2"/>
      </g>
    </g>
  </g>
</svg>
