<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 358.02 238.23" class="fg-holly">
  <defs>
    <style>
      .fg-holly-green {
        fill: #048e00;
      }

      .fg-holly-dk-green {
        fill: #097f00;
      }

      .fg-holly-red {
        fill: #d80000;
      }

      .fg-holly-dk-red {
        fill: #b70404;
      }
    </style>
  </defs>
  <title>holly</title>
    <g>
      <path class="fg-holly-green" d="M326.92,83.93c-10.07,32.61-2.33,53.7,31.1,72.34-21,32.12-10.78,68.31-5.61,82-12.8-7-47.21-22.21-81.94-5.85-13.81-35.7-33.62-46.3-67.32-40.86,11.69-35.33-10.4-71.8-36.15-73.6,20.32-34.54,18.1-61,17.13-73.28,12,2.68,37.91,8.56,74.94-6.76C257.27,63.64,290.31,90.58,326.92,83.93Z"/>
      <path class="fg-holly-dk-green" d="M352.41,238.23c-12.8-7-47.21-22.21-81.94-5.85-13.81-35.7-33.62-46.3-67.32-40.86,11.69-35.33-10.4-71.8-36.15-73.6,20.32-34.54,18.1-61,17.13-73.28Z"/>
      <path class="fg-holly-green" d="M31.09,83.93c10.08,32.61,2.34,53.7-31.09,72.34,21,32.12,10.78,68.31,5.61,82,12.79-7,47.21-22.21,81.94-5.85,13.8-35.7,33.62-46.3,67.31-40.86-11.68-35.33,10.4-71.8,36.16-73.6-20.33-34.54-18.1-61-17.13-73.28-12,2.68-37.91,8.56-74.95-6.76C100.74,63.64,67.71,90.58,31.09,83.93Z"/>
      <path class="fg-holly-dk-green" d="M5.61,238.23c12.79-7,47.21-22.21,81.94-5.85,13.8-35.7,33.62-46.3,67.31-40.86-11.68-35.33,10.4-71.8,36.16-73.6-20.33-34.54-18.1-61-17.13-73.28Z"/>
      <circle class="fg-holly-red" cx="205.83" cy="94" r="38"/>
      <path class="fg-holly-dk-red" d="M217.83,125.8a41.81,41.81,0,0,1-37.77-59.72,38,38,0,0,0,48.6,58.29A41.67,41.67,0,0,1,217.83,125.8Z"/>
      <circle class="fg-holly-red" cx="152.83" cy="94" r="38"/>
      <circle class="fg-holly-red" cx="178.83" cy="38" r="38"/>
      <path class="fg-holly-dk-red" d="M190.83,69.8a41.81,41.81,0,0,1-37.77-59.72,38,38,0,0,0,48.6,58.29A41.67,41.67,0,0,1,190.83,69.8Z"/>
      <path class="fg-holly-dk-red" d="M164.83,125.8a41.81,41.81,0,0,1-37.77-59.72,38,38,0,0,0,48.6,58.29A41.67,41.67,0,0,1,164.83,125.8Z"/>
    </g>
</svg>
