<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150" class="fg-icon-flag">
  <defs>
    <style>
      .Graphic-Style-2 {
        fill: #d60000;
      }

      .flag-white {
        fill: #fff;
      }
    </style>
  </defs>
  <title>CA-flag</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="CA_flag" data-name="CA flag">
      <g>
        <rect id="_3" data-name="3" class="Graphic-Style-2" width="300" height="150"/>
        <rect id="_2" data-name="2" class="flag-white" x="75" width="150" height="150"/>
        <path id="_1" data-name="1" class="Graphic-Style-2" d="M150,14.06,139.76,33.15c-1.16,2.07-3.24,1.88-5.32.72L127,30l5.52,29.32c1.17,5.35-2.56,5.35-4.4,3L115.22,47.92l-2.1,7.35a2.5,2.5,0,0,1-2.9,1.74L93.87,53.57l4.29,15.61c.92,3.48,1.64,4.92-.93,5.83l-5.82,2.74,28.14,22.86a3.68,3.68,0,0,1,1.28,3.83l-2.46,8.09c9.69-1.12,18.37-2.8,28.07-3.84.86-.09,2.29,1.33,2.28,2.32l-1.28,29.62h4.71l-.74-29.56c0-1,1.29-2.47,2.15-2.38,9.7,1,18.38,2.72,28.07,3.84l-2.46-8.09a3.66,3.66,0,0,1,1.28-3.82l28.14-22.87L202.77,75c-2.57-.91-1.85-2.35-.93-5.83l4.29-15.61L189.78,57a2.5,2.5,0,0,1-2.9-1.74l-2.1-7.35L171.85,62.4c-1.84,2.31-5.57,2.31-4.4-3L173,30l-7.41,3.83c-2.08,1.16-4.16,1.35-5.32-.72"/>
      </g>
    </g>
  </g>
</svg>
