<style>
  .fg-logo-anime__logo-solid {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    transform: translateY(30vh);
    width: 400px;
  }

  .fg-logo-anime__logo-icon.fg-logo-anime__stroke,
  .fg-logo-anime__logo-text-firgelli.fg-logo-anime__stroke,
  .fg-logo-anime__logo-text-automations.fg-logo-anime__stroke{
    fill: none;
    stroke-miterlimit: 10;
  }

  .fg-logo-anime__stroke-blue{
    stroke: #0d90e8;
  }

  .fg-logo-anime__fill {
    fill-rule: evenodd;
  }

  .fg-logo-anime__fill_blue {
    fill: #0d90e8;
  }

  .fg-logo-anime__stroke {
    stroke-width: 0.4px;
  }

  .fg-logo-anime__stroke-grey {
    stroke: #6d6e6e;
  }

  .fg-logo-anime__fill_grey {
    fill: #6d6e6e;
  }
</style>

<div class="js-fg-logo-anime fg-logo-anime__logo-solid fg-logo-image">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 128">
    <title>Firgelli Logo Animated</title>
    <g id="solid">
      <path class="fg-logo-anime__logo-icon fg-logo-anime__stroke fg-logo-anime__stroke-blue" d="M96.8,25h42.64l-31,16c-7.32,0-6.68.44-11.63,5.89L76,69.83c-9.58,0-18.33.08-27.91,0A34.06,34.06,0,0,0,36.92,72L73.48,35.45C77,31.93,82.28,25,96.8,25Z"/>
      <path class="fg-logo-anime__logo-icon fg-logo-anime__fill fg-logo-anime__fill_blue" d="M96.8,25h42.64l-31,16c-7.32,0-6.68.44-11.63,5.89L76,69.83c-9.58,0-18.33.08-27.91,0A34.06,34.06,0,0,0,36.92,72L73.48,35.45C77,31.93,82.28,25,96.8,25Z"/>
      <path class="fg-logo-anime__logo-icon fg-logo-anime__stroke fg-logo-anime__stroke-blue" d="M51.41,72.6c-10.47,0-17.18,2.1-24.77,9.7L5,103.93l39.69,0,4.94-5.39c7.16-7.84,10-9.19,20.51-9.15H85.89L101,72.59Z"/>
      <path class="fg-logo-anime__logo-icon fg-logo-anime__fill fg-logo-anime__fill_blue" d="M51.41,72.6c-10.47,0-17.18,2.1-24.77,9.7L5,103.93l39.69,0,4.94-5.39c7.16-7.84,10-9.19,20.51-9.15H85.89L101,72.59Z"/>
      <polygon class="fg-logo-anime__logo-icon fg-logo-anime__stroke fg-logo-anime__stroke-grey" points="141.1 27.36 127.3 103.93 98.19 103.93 109.95 43.44 141.1 27.36"/>
      <polygon class="fg-logo-anime__logo-icon fg-logo-anime__fill fg-logo-anime__fill_grey" points="141.1 27.36 127.3 103.93 98.19 103.93 109.95 43.44 141.1 27.36"/>

      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="158.36 69.17 158.36 38.5 184.43 38.5 184.43 43.86 163.71 43.86 163.71 69.17 158.36 69.17 158.36 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="158.36 69.17 158.36 38.5 184.43 38.5 184.43 43.86 163.71 43.86 163.71 69.17 158.36 69.17 158.36 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="167.59 56.47 183.12 56.47 183.12 51.79 167.59 51.79 167.59 56.47 167.59 56.47"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="167.59 56.47 183.12 56.47 183.12 51.79 167.59 51.79 167.59 56.47 167.59 56.47"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="188.39 69.17 188.39 38.5 193.75 38.5 193.75 69.17 188.39 69.17 188.39 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="188.39 69.17 188.39 38.5 193.75 38.5 193.75 69.17 188.39 69.17 188.39 69.17"/>
      <path class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" d="M227.84,69.17l-7.76-8.52H208.6V55.92h12.79a5.69,5.69,0,0,0,4.38-1.58,6.43,6.43,0,0,0,1.48-4.57,5.9,5.9,0,0,0-1.54-4.46,6,6,0,0,0-4.31-1.45H204.72V69.17h-5.35V38.5h22a13.2,13.2,0,0,1,4.68.78,9.7,9.7,0,0,1,3.5,2.24A9.55,9.55,0,0,1,231.76,45a13.32,13.32,0,0,1,.76,4.64,11.58,11.58,0,0,1-1.67,6.43,9.28,9.28,0,0,1-4.65,3.74l9.23,9.32Z"/>
      <path class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" d="M227.84,69.17l-7.76-8.52H208.6V55.92h12.79a5.69,5.69,0,0,0,4.38-1.58,6.43,6.43,0,0,0,1.48-4.57,5.9,5.9,0,0,0-1.54-4.46,6,6,0,0,0-4.31-1.45H204.72V69.17h-5.35V38.5h22a13.2,13.2,0,0,1,4.68.78,9.7,9.7,0,0,1,3.5,2.24A9.55,9.55,0,0,1,231.76,45a13.32,13.32,0,0,1,.76,4.64,11.58,11.58,0,0,1-1.67,6.43,9.28,9.28,0,0,1-4.65,3.74l9.23,9.32Z"/>
      <path class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" d="M251.49,69.17a14.47,14.47,0,0,1-5.92-1.2,14.69,14.69,0,0,1-4.72-3.29,14.94,14.94,0,0,1-3.12-5,17,17,0,0,1-1.11-6.2,16.51,16.51,0,0,1,1.11-6.16,13.71,13.71,0,0,1,3.13-4.75,14,14,0,0,1,4.72-3,15.91,15.91,0,0,1,5.93-1.08h16.62v5.36H251.51a9.6,9.6,0,0,0-3.82.74,9.05,9.05,0,0,0-3,2,9.5,9.5,0,0,0-2,3.13,10.74,10.74,0,0,0-.71,4,11,11,0,0,0,.71,4,9.67,9.67,0,0,0,2,3.19,9.16,9.16,0,0,0,3,2.08,9.44,9.44,0,0,0,3.82.76h13.12v-8H250.79V51.33H270V69.17Z"/>
      <path class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" d="M251.49,69.17a14.47,14.47,0,0,1-5.92-1.2,14.69,14.69,0,0,1-4.72-3.29,14.94,14.94,0,0,1-3.12-5,17,17,0,0,1-1.11-6.2,16.51,16.51,0,0,1,1.11-6.16,13.71,13.71,0,0,1,3.13-4.75,14,14,0,0,1,4.72-3,15.91,15.91,0,0,1,5.93-1.08h16.62v5.36H251.51a9.6,9.6,0,0,0-3.82.74,9.05,9.05,0,0,0-3,2,9.5,9.5,0,0,0-2,3.13,10.74,10.74,0,0,0-.71,4,11,11,0,0,0,.71,4,9.67,9.67,0,0,0,2,3.19,9.16,9.16,0,0,0,3,2.08,9.44,9.44,0,0,0,3.82.76h13.12v-8H250.79V51.33H270V69.17Z"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="274.97 69.17 274.97 38.5 302.39 38.5 302.39 43.86 280.33 43.86 280.33 63.81 302.43 63.81 302.43 69.17 274.97 69.17 274.97 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="274.97 69.17 274.97 38.5 302.39 38.5 302.39 43.86 280.33 43.86 280.33 63.81 302.43 63.81 302.43 69.17 274.97 69.17 274.97 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="284.2 55.84 301.21 55.84 301.21 51.33 284.2 51.33 284.2 55.84 284.2 55.84"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="284.2 55.84 301.21 55.84 301.21 51.33 284.2 51.33 284.2 55.84 284.2 55.84"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="306.98 69.17 306.98 38.5 312.35 38.5 312.35 63.81 332.97 63.81 332.97 69.17 306.98 69.17 306.98 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="306.98 69.17 306.98 38.5 312.35 38.5 312.35 63.81 332.97 63.81 332.97 69.17 306.98 69.17 306.98 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" points="336.81 69.17 336.81 38.5 342.17 38.5 342.17 63.81 362.8 63.81 362.8 69.17 336.81 69.17 336.81 69.17"/>
      <polygon class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" points="336.81 69.17 336.81 38.5 342.17 38.5 342.17 63.81 362.8 63.81 362.8 69.17 336.81 69.17 336.81 69.17"/>
      <rect class="fg-logo-anime__logo-text-firgelli fg-logo-anime__stroke fg-logo-anime__stroke-blue" x="366.94" y="38.5" width="5.36" height="30.67"/>
      <rect class="fg-logo-anime__logo-text-firgelli fg-logo-anime__fill fg-logo-anime__fill_blue" x="366.94" y="38.5" width="5.36" height="30.67"/>

      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M177.74,90.23l-8.66-14.4a1.43,1.43,0,0,0-1.26-.85,1.45,1.45,0,0,0-1.28.85l-8.65,14.4h3l6.82-11.54,3.35,5.62h-4.61l-1.24,2.13h7.11l2.26,3.79Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M177.74,90.23l-8.66-14.4a1.43,1.43,0,0,0-1.26-.85,1.45,1.45,0,0,0-1.28.85l-8.65,14.4h3l6.82-11.54,3.35,5.62h-4.61l-1.24,2.13h7.11l2.26,3.79Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M194.25,83.58c0,3-1.34,4.27-5.48,4.27s-5.49-1.25-5.49-4.27V75.19h-2.71v8.39c0,4.66,2.33,6.85,8.11,6.85s8.13-2.19,8.13-6.85V75.19h-2.56v8.39Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M194.25,83.58c0,3-1.34,4.27-5.48,4.27s-5.49-1.25-5.49-4.27V75.19h-2.71v8.39c0,4.66,2.33,6.85,8.11,6.85s8.13-2.19,8.13-6.85V75.19h-2.56v8.39Z"/>
      <polygon class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" points="209.36 90.22 209.36 77.81 215.07 77.81 215.07 75.19 201.03 75.19 201.03 77.81 206.74 77.81 206.74 90.22 209.36 90.22 209.36 90.22"/>
      <polygon class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" points="209.36 90.22 209.36 77.81 215.07 77.81 215.07 75.19 201.03 75.19 201.03 77.81 206.74 77.81 206.74 90.22 209.36 90.22 209.36 90.22"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M229.72,90.23h-3.67c-4.2,0-7.3-3.32-7.3-7.68a7,7,0,0,1,7.3-7.36h3.67a7,7,0,0,1,7.36,7.36,7.33,7.33,0,0,1-7.36,7.68Zm-3.67-2.63h3.67a4.67,4.67,0,0,0,4.73-4.92,4.62,4.62,0,0,0-4.73-4.87h-3.67a4.6,4.6,0,0,0-4.67,4.87,4.65,4.65,0,0,0,4.67,4.92Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M229.72,90.23h-3.67c-4.2,0-7.3-3.32-7.3-7.68a7,7,0,0,1,7.3-7.36h3.67a7,7,0,0,1,7.36,7.36,7.33,7.33,0,0,1-7.36,7.68Zm-3.67-2.63h3.67a4.67,4.67,0,0,0,4.73-4.92,4.62,4.62,0,0,0-4.73-4.87h-3.67a4.6,4.6,0,0,0-4.67,4.87,4.65,4.65,0,0,0,4.67,4.92Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M262.43,90.23l-3.85-14.15A1.24,1.24,0,0,0,257.33,75a1.35,1.35,0,0,0-1.27.89l-4.63,10.63L246.8,75.89a1.43,1.43,0,0,0-1.33-.89,1.24,1.24,0,0,0-1.3,1.08L240.3,90.23h2.59l2.87-10.57L250,89.44a1.41,1.41,0,0,0,2.69,0L257,79.66l2.88,10.57Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M262.43,90.23l-3.85-14.15A1.24,1.24,0,0,0,257.33,75a1.35,1.35,0,0,0-1.27.89l-4.63,10.63L246.8,75.89a1.43,1.43,0,0,0-1.33-.89,1.24,1.24,0,0,0-1.3,1.08L240.3,90.23h2.59l2.87-10.57L250,89.44a1.41,1.41,0,0,0,2.69,0L257,79.66l2.88,10.57Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M285.74,90.23l-8.67-14.4a1.43,1.43,0,0,0-1.26-.85,1.46,1.46,0,0,0-1.28.85l-8.65,14.4h3l6.83-11.54,3.35,5.62h-4.61l-1.25,2.13h7.12l2.25,3.79Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M285.74,90.23l-8.67-14.4a1.43,1.43,0,0,0-1.26-.85,1.46,1.46,0,0,0-1.28.85l-8.65,14.4h3l6.83-11.54,3.35,5.62h-4.61l-1.25,2.13h7.12l2.25,3.79Z"/>
      <polygon class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" points="294.86 90.22 294.86 77.81 300.56 77.81 300.56 75.19 286.52 75.19 286.52 77.81 292.23 77.81 292.23 90.22 294.86 90.22 294.86 90.22"/>
      <polygon class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" points="294.86 90.22 294.86 77.81 300.56 77.81 300.56 75.19 286.52 75.19 286.52 77.81 292.23 77.81 292.23 90.22 294.86 90.22 294.86 90.22"/>
      <polygon class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" points="307.8 90.22 307.8 75.19 305.18 75.19 305.18 90.22 307.8 90.22 307.8 90.22"/>
      <polygon class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" points="307.8 90.22 307.8 75.19 305.18 75.19 305.18 90.22 307.8 90.22 307.8 90.22"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M323.81,90.23h-3.66c-4.2,0-7.3-3.32-7.3-7.68a7,7,0,0,1,7.3-7.36h3.66a7,7,0,0,1,7.37,7.36,7.33,7.33,0,0,1-7.37,7.68Zm-3.66-2.63h3.66a4.66,4.66,0,0,0,4.73-4.92,4.62,4.62,0,0,0-4.73-4.87h-3.66a4.61,4.61,0,0,0-4.68,4.87,4.66,4.66,0,0,0,4.68,4.92Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M323.81,90.23h-3.66c-4.2,0-7.3-3.32-7.3-7.68a7,7,0,0,1,7.3-7.36h3.66a7,7,0,0,1,7.37,7.36,7.33,7.33,0,0,1-7.37,7.68Zm-3.66-2.63h3.66a4.66,4.66,0,0,0,4.73-4.92,4.62,4.62,0,0,0-4.73-4.87h-3.66a4.61,4.61,0,0,0-4.68,4.87,4.66,4.66,0,0,0,4.68,4.92Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M349,89.85a1.65,1.65,0,0,0,1.2.56c.77,0,1.3-.58,1.3-1.57V75.06H349v11L338.43,75.54a1.5,1.5,0,0,0-1.12-.54c-.82,0-1.34.6-1.34,1.57V90.23h2.5v-11L349,89.85Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M349,89.85a1.65,1.65,0,0,0,1.2.56c.77,0,1.3-.58,1.3-1.57V75.06H349v11L338.43,75.54a1.5,1.5,0,0,0-1.12-.54c-.82,0-1.34.6-1.34,1.57V90.23h2.5v-11L349,89.85Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__stroke fg-logo-anime__stroke-grey" d="M368.08,90.23c3.15,0,4.68-1.89,4.68-4.41,0-2.91-1.63-4.35-4.68-4.35H361.2a1.71,1.71,0,0,1-1.88-1.81,1.73,1.73,0,0,1,1.9-1.85H372V75.19h-10.8c-3,0-4.63,1.8-4.63,4.22s1.75,4.28,4.59,4.28h6.9c1.41,0,2.2.66,2.2,1.94a1.93,1.93,0,0,1-2.2,2H356.81v2.63Z"/>
      <path class="fg-logo-anime__logo-text-automations fg-logo-anime__fill fg-logo-anime__fill_grey" d="M368.08,90.23c3.15,0,4.68-1.89,4.68-4.41,0-2.91-1.63-4.35-4.68-4.35H361.2a1.71,1.71,0,0,1-1.88-1.81,1.73,1.73,0,0,1,1.9-1.85H372V75.19h-10.8c-3,0-4.63,1.8-4.63,4.22s1.75,4.28,4.59,4.28h6.9c1.41,0,2.2.66,2.2,1.94a1.93,1.93,0,0,1-2.2,2H356.81v2.63Z"/>
    </g>
  </svg>
</div>

{% include 'script-logo-animate' %}
