<a href="/" class="fg-logo-image fg-logo-image_footer">
    <img class="uk-preserve" uk-img="data-src:{{ 'firgelli-logo_wht.svg' | asset_url }}"  alt="{{ shop.name }} logo" itemprop="logo" uk-svg>
</a>
