<nav class="fg-nav__topper_mobile uk-container ">
  <ul class="uk-iconnav uk-flex-between uk-text-small">
    <li class="s">
      <a href="tel:{% include 'nav-phone' %}">
        <span>Toll Free: {% include 'nav-phone' %}</span>
        <span uk-icon="icon: receiver" class="fg-icon-left"></span>
      </a>
    </li>
    <li>
      {% include  'icon-flag-set' %}
    </li>
  </ul>
</nav>
