<style>
  p1{
    
    margin-top: 1px !important
  }
  
</style>


<div class="uk-light phoneStyle" style="align-self: center;">
<div>
<p1>Phone: +1 866-226-0465 </p1><br>
<p1>Extension 1: Sales</p1><br>
<p1>Extension 2: Support</p1><br>

  {% comment %}<p style="text-decoration: underline">Location</p>

  <p1>1350 Slater Road</p1><br>

<p1>Unit 11 & 12</p1><br>

<p1>Ferndale, WA 98248</p1><br>

<p1>United States</p1>
  {% endcomment %}
</div>
</div>