<h2><a href="https://www.firgelliauto.com/collections/slide-rails" target="_blank" title="See Slide Rails And Drawer Slides collection">Slide Rails And Drawer Slides</a></h2>
<h3><a href="https://www.firgelliauto.com/products/linear-drawer-slides" target="_blank" title="See Linear Drawer Slides product">Linear Drawer Slides</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/10in-Linear-Drawer-Slide-Assy.step" target="_blank" title="10in Linear Drawer Slide Assy 3d step file">10in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/40in-Linear-Drawer-Slide-Assy.step" target="_blank" title="40in Linear Drawer Slide Assy 3d step file">40in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/34in-Linear-Drawer-Slide-Assy.step" target="_blank" title="34in Linear Drawer Slide Assy 3d step file">34in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/24in-Linear-Drawer-Slide-Assy.step" target="_blank" title="24in Linear Drawer Slide Assy 3d step file">24in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/50in-Linear-Drawer-Slide-Assy.step" target="_blank" title="50in Linear Drawer Slide Assy 3d step file">50in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/36in-Linear-Drawer-Slide-Assy.step" target="_blank" title="36in Linear Drawer Slide Assy 3d step file">36in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/30in-Linear-Drawer-Slide-Assy.step" target="_blank" title="30in Linear Drawer Slide Assy 3d step file">30in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/12in-Linear-Drawer-Slide-Assy.step" target="_blank" title="12in Linear Drawer Slide Assy 3d step file">12in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/32in-Linear-Drawer-Slide-Assy.step" target="_blank" title="32in Linear Drawer Slide Assy 3d step file">32in-Linear-Drawer-Slide-Assy.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/20in-Linear-Drawer-Slide-Assy.step" target="_blank" title="20in Linear Drawer Slide Assy 3d step file">20in-Linear-Drawer-Slide-Assy.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/collections/slide-rails" target="_blank" title="See Slide Rails collection">Slide Rails</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-SGR-35-Heavy-Duty-Slide.step" target="_blank" title="FA SGR 35 Heavy Duty Slide 3d step file">FA-SGR-35-Heavy-Duty-Slide.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-SGR-15N-Mini-Slide-Rail.stp" target="_blank" title="FA SGR 15N Mini Slide Rail 3d step file">FA-SGR-15N-Mini-Slide-Rail.stp</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/industrial-heavy-duty-drawer-slides" target="_blank" title="See Industrial Heavy Duty Drawer Slides product">Industrial Heavy Duty Drawer Slides</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/50in-Industrial-Heavy-Duty-Drawer-Slide.step" target="_blank" title="50in Industrial Heavy Duty Drawer Slide 3d step file">50in-Industrial-Heavy-Duty-Drawer-Slide.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/40in-Industrial-Heavy-Duty-Drawer-Slide.step" target="_blank" title="40in Industrial Heavy Duty Drawer Slide 3d step file">40in-Industrial-Heavy-Duty-Drawer-Slide.step</a></li>
</ul>
<h2>Tv Column And Desk Lifts</h2>
<h3><a href="https://www.firgelliauto.com/collections/sit-stand-desks" target="_blank" title="See Desk Lifts collection">Desk Lifts</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/Desklift-4-legged.stp" target="_blank" title="Desklift 4 legged 3d step file">Desklift-4-legged.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/JC35N1.stp" target="_blank" title="JC35N1 3d step file">JC35N1.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35-TT.stp" target="_blank" title="FA 35 TT 3d step file">FA-35-TT.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35-TA-one-leg-new.stp" target="_blank" title="FA 35 TA one leg new 3d step file">FA-35-TA-one-leg-new.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35-TT.step" target="_blank" title="FA 35 TT 3d step file">FA-35-TT.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/JC35N1-orig.stp" target="_blank" title="JC35N1 orig 3d step file">JC35N1-orig.stp</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/collections/column-lifts" target="_blank" title="See Column Lifts collection">Column Lifts</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/JC35EM3-400.stp" target="_blank" title="JC35EM3 400 3d step file">JC35EM3-400.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/Column-Lift-650.step" target="_blank" title="Column Lift 650 3d step file">Column-Lift-650.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/JC35ET3.stp" target="_blank" title="JC35ET3 3d step file">JC35ET3.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/Column-Lift-650-newstyle.step" target="_blank" title="Column Lift 650 newstyle 3d step file">Column-Lift-650-newstyle.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/collections/tv-lifts" target="_blank" title="See Tv Lifts collection">Tv Lifts</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TVL-180-40 drop-down.step" target="_blank" title="FA TVL 180 40 drop down 3d step file">FA-TVL-180-40 drop-down.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TVL-180-25-pop-up.step" target="_blank" title="FA TVL 180 25 pop up 3d step file">FA-TVL-180-25-pop-up.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TVL-180-40-pop-up.step" target="_blank" title="FA TVL 180 40 pop up 3d step file">FA-TVL-180-40-pop-up.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TVL-170-36-T-pop-up.step" target="_blank" title="FA TVL 170 36 T pop up 3d step file">FA-TVL-170-36-T-pop-up.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TVL-170-30-T-pop-up.step" target="_blank" title="FA TVL 170 30 T pop up 3d step file">FA-TVL-170-30-T-pop-up.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-UTVL-200-XX.step" target="_blank" title="FA UTVL 200 XX 3d step file">FA-UTVL-200-XX.step</a></li>
</ul>
<h2>Snippets</h2>
<ul></ul>
<h2><a href="https://www.firgelliauto.com/collection/linear-actuators" target="_blank" title="See Actuators collection">Actuators</a></h2>
<h3><a href="https://www.firgelliauto.com/products/high-speed-actuator" target="_blank" title="See High Speed product">High Speed</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-4.step" target="_blank" title="FA RA 22 12 4 3d step file">FA-RA-22-12-4.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-8.step" target="_blank" title="FA RA 22 12 8 3d step file">FA-RA-22-12-8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-2.step" target="_blank" title="FA RA 22 12 2 3d step file">FA-RA-22-12-2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-6.stp" target="_blank" title="FA RA 22 12 6 3d step file">FA-RA-22-12-6.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-10.step" target="_blank" title="FA RA 22 12 10 3d step file">FA-RA-22-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-24.step" target="_blank" title="FA RA 22 12 24 3d step file">FA-RA-22-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-28.step" target="_blank" title="FA RA 22 12 28 3d step file">FA-RA-22-12-28.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-18.step" target="_blank" title="FA RA 22 12 18 3d step file">FA-RA-22-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-32.step" target="_blank" title="FA RA 22 12 32 3d step file">FA-RA-22-12-32.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RA-22-12-12.step" target="_blank" title="FA RA 22 12 12 3d step file">FA-RA-22-12-12.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/heavy-duty-track-actuator" target="_blank" title="See Heavy Duty Track product">Heavy Duty Track</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-TR-24-50.step" target="_blank" title="FA XXX TR 24 50 3d step file">FA-XXX-TR-24-50.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-TR-24-40.stp" target="_blank" title="FA XXX TR 24 40 3d step file">FA-XXX-TR-24-40.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-TR-24-60.step" target="_blank" title="FA XXX TR 24 60 3d step file">FA-XXX-TR-24-60.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-TR-24-30.step" target="_blank" title="FA XXX TR 24 30 3d step file">FA-XXX-TR-24-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-TR-24-20.step" target="_blank" title="FA XXX TR 24 20 3d step file">FA-XXX-TR-24-20.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-TR-24-10.step" target="_blank" title="FA XXX TR 24 10 3d step file">FA-XXX-TR-24-10.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/tubular-linear-actuator" target="_blank" title="See Sleek Rod product">Sleek Rod</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-3.step" target="_blank" title="FA 04(05) 12 3 3d step file">FA-04(05)-12-3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-30.step" target="_blank" title="FA 04(05) 12 30 3d step file">FA-04(05)-12-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-12.step" target="_blank" title="FA 04(05) 12 12 3d step file">FA-04(05)-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-18.step" target="_blank" title="FA 04(05) 12 18 3d step file">FA-04(05)-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-24.step" target="_blank" title="FA 04(05) 12 24 3d step file">FA-04(05)-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-6.step" target="_blank" title="FA 04(05) 12 6 3d step file">FA-04(05)-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-04(05)-12-9.step" target="_blank" title="FA 04(05) 12 9 3d step file">FA-04(05)-12-9.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/heavy-duty" target="_blank" title="See Heavy Duty Rod Actuator product">Heavy Duty Rod Actuator</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-6.stp" target="_blank" title="FA XXX L 12 6 3d step file">FA-XXX-L-12-6.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-12.step" target="_blank" title="FA XXX L 12 12 3d step file">FA-XXX-L-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-3.stp" target="_blank" title="FA XXX L 12 3 3d step file">FA-XXX-L-12-3.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-9.step" target="_blank" title="FA XXX L 12 9 3d step file">FA-XXX-L-12-9.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-15.step" target="_blank" title="FA XXX L 12 15 3d step file">FA-XXX-L-12-15.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-8.step" target="_blank" title="FA XXX L 12 8 3d step file">FA-XXX-L-12-8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-24.step" target="_blank" title="FA XXX L 12 24 3d step file">FA-XXX-L-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-30.step" target="_blank" title="FA XXX L 12 30 3d step file">FA-XXX-L-12-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-18.step" target="_blank" title="FA XXX L 12 18 3d step file">FA-XXX-L-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-L-12-28.step" target="_blank" title="FA XXX L 12 28 3d step file">FA-XXX-L-12-28.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/industrial-heavy-duty-linear-actuators" target="_blank" title="See Industrial Heavy Duty Actuators product">Industrial Heavy Duty Actuators</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HD-2200-24(12)-10-v2.step" target="_blank" title="FA HD 2200 24(12) 10 v2 3d step file">FA-HD-2200-24(12)-10-v2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HD-2200-24(12)-30-v2.step" target="_blank" title="FA HD 2200 24(12) 30 v2 3d step file">FA-HD-2200-24(12)-30-v2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HD-2200-24(12)-15-v2.step" target="_blank" title="FA HD 2200 24(12) 15 v2 3d step file">FA-HD-2200-24(12)-15-v2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HD-2200-24(12)-20-v2.step" target="_blank" title="FA HD 2200 24(12) 20 v2 3d step file">FA-HD-2200-24(12)-20-v2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HD-2200-24(12)-25-v2.step" target="_blank" title="FA HD 2200 24(12) 25 v2 3d step file">FA-HD-2200-24(12)-25-v2.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/mini-track-actuator" target="_blank" title="See Mini Track product">Mini Track</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TR-35-12-15.step" target="_blank" title="FA TR 35 12 15 3d step file">FA-TR-35-12-15.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TR-35-12-5.step" target="_blank" title="FA TR 35 12 5 3d step file">FA-TR-35-12-5.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TR-35-12-10.step" target="_blank" title="FA TR 35 12 10 3d step file">FA-TR-35-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TR-35-12-20.step" target="_blank" title="FA TR 35 12 20 3d step file">FA-TR-35-12-20.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-TR-35-12-25.step" target="_blank" title="FA TR 35 12 25 3d step file">FA-TR-35-12-25.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/mini-linear-actuator" target="_blank" title="See Mini Linear product">Mini Linear</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RMS-15-12-4.step" target="_blank" title="FA RMS 15 12 4 3d step file">FA-RMS-15-12-4.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RMS-15-12-10.step" target="_blank" title="FA RMS 15 12 10 3d step file">FA-RMS-15-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RMS-15-12-2.step" target="_blank" title="FA RMS 15 12 2 3d step file">FA-RMS-15-12-2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RMS-15-12-12.step" target="_blank" title="FA RMS 15 12 12 3d step file">FA-RMS-15-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RMS-15-12-6.stp" target="_blank" title="FA RMS 15 12 6 3d step file">FA-RMS-15-12-6.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-RMS-15-12-8.step" target="_blank" title="FA RMS 15 12 8 3d step file">FA-RMS-15-12-8.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/products/optical-sensor-actuators" target="_blank" title="See Optical Series product">Optical Series</a></h3>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-18.step" target="_blank" title="FA OS 400 12 18 3d step file">FA-OS-400-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-6.step" target="_blank" title="FA OS 35(200) 12 6 3d step file">FA-OS-35(200)-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-9.step" target="_blank" title="FA OS 35(200) 12 9 3d step file">FA-OS-35(200)-12-9.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-9.step" target="_blank" title="FA OS 400 12 9 3d step file">FA-OS-400-12-9.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-30.step" target="_blank" title="FA OS 400 12 30 3d step file">FA-OS-400-12-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-6.step" target="_blank" title="FA OS 400 12 6 3d step file">FA-OS-400-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-1.step" target="_blank" title="FA OS 35(200) 12 1 3d step file">FA-OS-35(200)-12-1.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-12.step" target="_blank" title="FA OS 400 12 12 3d step file">FA-OS-400-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-30.step" target="_blank" title="FA OS 35(200) 12 30 3d step file">FA-OS-35(200)-12-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-18.step" target="_blank" title="FA OS 35(200) 12 18 3d step file">FA-OS-35(200)-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-3.step" target="_blank" title="FA OS 400 12 3 3d step file">FA-OS-400-12-3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-24.step" target="_blank" title="FA OS 35(200) 12 24 3d step file">FA-OS-35(200)-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-12.step" target="_blank" title="FA OS 35(200) 12 12 3d step file">FA-OS-35(200)-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-400-12-24.step" target="_blank" title="FA OS 400 12 24 3d step file">FA-OS-400-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-OS-35(200)-12-3.step" target="_blank" title="FA OS 35(200) 12 3 3d step file">FA-OS-35(200)-12-3.step</a></li>
</ul>
<h3><a href="https://www.firgelliauto.com/collections/bullet-actuators" target="_blank" title="See Bullet collection">Bullet</a></h3>
<h4><a href="https://www.firgelliauto.com/products/bullet-series-50-cal-linear-actuators" target="_blank" title="See Bullet 50 Cal product">Bullet 50 Cal</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-8.step" target="_blank" title="FA BH50 XXX 12 8 3d step file">FA-BH50-XXX-12-8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-6.step" target="_blank" title="FA BH50 XXX 12 6 3d step file">FA-BH50-XXX-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-24.step" target="_blank" title="FA BH50 XXX 12 24 3d step file">FA-BH50-XXX-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-40.step" target="_blank" title="FA BH50 XXX 12 40 3d step file">FA-BH50-XXX-12-40.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-30.step" target="_blank" title="FA BH50 XXX 12 30 3d step file">FA-BH50-XXX-12-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-18.step" target="_blank" title="FA BH50 XXX 12 18 3d step file">FA-BH50-XXX-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-36.step" target="_blank" title="FA BH50 XXX 12 36 3d step file">FA-BH50-XXX-12-36.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-10.step" target="_blank" title="FA BH50 XXX 12 10 3d step file">FA-BH50-XXX-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH50-XXX-12-12.step" target="_blank" title="FA BH50 XXX 12 12 3d step file">FA-BH50-XXX-12-12.step</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/bullet-series-23-cal" target="_blank" title="See Bullet 23 Cal product">Bullet 23 Cal</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-12.step" target="_blank" title="FA B26 12 12 3d step file">FA-B26-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-10.step" target="_blank" title="FA B26 12 10 3d step file">FA-B26-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-4.step" target="_blank" title="FA B26 12 4 3d step file">FA-B26-12-4.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-8.step" target="_blank" title="FA B26 12 8 3d step file">FA-B26-12-8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-2.step" target="_blank" title="FA B26 12 2 3d step file">FA-B26-12-2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-1.step" target="_blank" title="FA B26 12 1 3d step file">FA-B26-12-1.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-5.step" target="_blank" title="FA B26 12 5 3d step file">FA-B26-12-5.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-3.step" target="_blank" title="FA B26 12 3 3d step file">FA-B26-12-3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B26-12-6.step" target="_blank" title="FA B26 12 6 3d step file">FA-B26-12-6.step</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/bullet-series-36-cal-linear-actuators" target="_blank" title="See Bullet 36 Cal product">Bullet 36 Cal</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-8.step" target="_blank" title="FA BH36 XXX 12 8 3d step file">FA-BH36-XXX-12-8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-6.step" target="_blank" title="FA BH36 XXX 12 6 3d step file">FA-BH36-XXX-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-24.step" target="_blank" title="FA BH36 XXX 12 24 3d step file">FA-BH36-XXX-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-22.step" target="_blank" title="FA BH36 XXX 12 22 3d step file">FA-BH36-XXX-12-22.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-10.step" target="_blank" title="FA BH36 XXX 12 10 3d step file">FA-BH36-XXX-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-12.step" target="_blank" title="FA BH36 XXX 12 12 3d step file">FA-BH36-XXX-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-18.step" target="_blank" title="FA BH36 XXX 12 18 3d step file">FA-BH36-XXX-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-BH36-XXX-12-14.step" target="_blank" title="FA BH36 XXX 12 14 3d step file">FA-BH36-XXX-12-14.step</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/bullet-series-mini-actuators" target="_blank" title="See Bullet Mini product">Bullet Mini</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-5.step" target="_blank" title="FA B XX 12 5 3d step file">FA-B-XX-12-5.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-2.step" target="_blank" title="FA B XX 12 2 3d step file">FA-B-XX-12-2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-6.step" target="_blank" title="FA B XX 12 6 3d step file">FA-B-XX-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-4.step" target="_blank" title="FA B XX 12 4 3d step file">FA-B-XX-12-4.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-1.step" target="_blank" title="FA B XX 12 1 3d step file">FA-B-XX-12-1.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-8.step" target="_blank" title="FA B XX 12 8 3d step file">FA-B-XX-12-8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-3.step" target="_blank" title="FA B XX 12 3 3d step file">FA-B-XX-12-3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-B-XX-12-7.step" target="_blank" title="FA B XX 12 7 3d step file">FA-B-XX-12-7.step</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/deluxe-rod-actuator" target="_blank" title="See Deluxe Rod product">Deluxe Rod</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-32.step" target="_blank" title="FA HF 100 12 32 3d step file">FA-HF-100-12-32.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-36.step" target="_blank" title="FA HF 100 12 36 3d step file">FA-HF-100-12-36.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-6.stp" target="_blank" title="FA HF 100 12 6 3d step file">FA-HF-100-12-6.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-18.step" target="_blank" title="FA HF 100 12 18 3d step file">FA-HF-100-12-18.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-24.step" target="_blank" title="FA HF 100 12 24 3d step file">FA-HF-100-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-30.stp" target="_blank" title="FA HF 100 12 30 3d step file">FA-HF-100-12-30.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-15.step" target="_blank" title="FA HF 100 12 15 3d step file">FA-HF-100-12-15.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-3.stp" target="_blank" title="FA HF 100 12 3 3d step file">FA-HF-100-12-3.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-9.stp" target="_blank" title="FA HF 100 12 9 3d step file">FA-HF-100-12-9.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-HF-100-12-12.stp" target="_blank" title="FA HF 100 12 12 3d step file">FA-HF-100-12-12.stp</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/linear-actuators" target="_blank" title="See Classic product">Classic</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-6.stp" target="_blank" title="FA XXX S 12 6 3d step file">FA-XXX-S-12-6.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-24.step" target="_blank" title="FA XXX S 12 24 3d step file">FA-XXX-S-12-24.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-1.stp" target="_blank" title="FA XXX S 12 1 3d step file">FA-XXX-S-12-1.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-9.stp" target="_blank" title="FA XXX S 12 9 3d step file">FA-XXX-S-12-9.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-2.stp" target="_blank" title="FA XXX S 12 2 3d step file">FA-XXX-S-12-2.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-4.step" target="_blank" title="FA XXX S 12 4 3d step file">FA-XXX-S-12-4.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-3.step" target="_blank" title="FA XXX S 12 3 3d step file">FA-XXX-S-12-3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-12.step" target="_blank" title="FA XXX S 12 12 3d step file">FA-XXX-S-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-XXX-S-12-18.stp" target="_blank" title="FA XXX S 12 18 3d step file">FA-XXX-S-12-18.stp</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/feedback-rod-actuator" target="_blank" title="See Potentiometer Feedback product">Potentiometer Feedback</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-PO-XXX-12-12.step" target="_blank" title="FA PO XXX 12 12 3d step file">FA-PO-XXX-12-12.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-PO-XXX-12-2.step" target="_blank" title="FA PO XXX 12 2 3d step file">FA-PO-XXX-12-2.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-PO-XXX-12-6.step" target="_blank" title="FA PO XXX 12 6 3d step file">FA-PO-XXX-12-6.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-PO-XXX-12-4.stp" target="_blank" title="FA PO XXX 12 4 3d step file">FA-PO-XXX-12-4.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-PO-XXX-12-3.step" target="_blank" title="FA PO XXX 12 3 3d step file">FA-PO-XXX-12-3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-PO-XXX-12-8.step" target="_blank" title="FA PO XXX 12 8 3d step file">FA-PO-XXX-12-8.step</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/water-proof-linear-actuator" target="_blank" title="See Heavy Duty Rod Actuator Ip66 Rated product">Heavy Duty Rod Actuator Ip66 Rated</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-60.step" target="_blank" title="FA 200 IP66 12 60 3d step file">FA-200-IP66-12-60.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-40.step" target="_blank" title="FA 200 IP66 12 40 3d step file">FA-200-IP66-12-40.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-10.step" target="_blank" title="FA 200 IP66 12 10 3d step file">FA-200-IP66-12-10.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-20.step" target="_blank" title="FA 200 IP66 12 20 3d step file">FA-200-IP66-12-20.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-5.step" target="_blank" title="FA 200 IP66 12 5 3d step file">FA-200-IP66-12-5.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-30.step" target="_blank" title="FA 200 IP66 12 30 3d step file">FA-200-IP66-12-30.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-200-IP66-12-50.step" target="_blank" title="FA 200 IP66 12 50 3d step file">FA-200-IP66-12-50.step</a></li>
</ul>
<h4><a href="https://www.firgelliauto.com/products/premium-linear-actuators" target="_blank" title="See Premium product">Premium</a></h4>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-12-P.step" target="_blank" title="FA 35(150)(200) 12 12 P 3d step file">FA-35(150)(200)-12-12-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-3-P.step" target="_blank" title="FA 35(150)(200) 12 3 P 3d step file">FA-35(150)(200)-12-3-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-18-P.step" target="_blank" title="FA 35(150)(200) 12 18 P 3d step file">FA-35(150)(200)-12-18-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-6-P.step" target="_blank" title="FA 35(150)(200) 12 6 P 3d step file">FA-35(150)(200)-12-6-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-2-P.STEP" target="_blank" title="FA 35(150)(200) 12 2 P.STEP 3d step file">FA-35(150)(200)-12-2-P.STEP</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-30-P.step" target="_blank" title="FA 400 12 30 P 3d step file">FA-400-12-30-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-2-P.step" target="_blank" title="FA 400 12 2 P 3d step file">FA-400-12-2-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-9-P.step" target="_blank" title="FA 400 12 9 P 3d step file">FA-400-12-9-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-6-P.step" target="_blank" title="FA 400 12 6 P 3d step file">FA-400-12-6-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-4-P.step" target="_blank" title="FA 35(150)(200) 12 4 P 3d step file">FA-35(150)(200)-12-4-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-9-P.step" target="_blank" title="FA 35(150)(200) 12 9 P 3d step file">FA-35(150)(200)-12-9-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-12-P.step" target="_blank" title="FA 400 12 12 P 3d step file">FA-400-12-12-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-24-P.step" target="_blank" title="FA 35(150)(200) 12 24 P 3d step file">FA-35(150)(200)-12-24-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-24-P.step" target="_blank" title="FA 400 12 24 P 3d step file">FA-400-12-24-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-35(150)(200)-12-1-P.step" target="_blank" title="FA 35(150)(200) 12 1 P 3d step file">FA-35(150)(200)-12-1-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-4-P.step" target="_blank" title="FA 400 12 4 P 3d step file">FA-400-12-4-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/FA-400-12-18-P.step" target="_blank" title="FA 400 12 18 P 3d step file">FA-400-12-18-P.step</a></li>
</ul>
<h2><a href="https://www.firgelliauto.com/collections/brackets" target="_blank" title="See Mounting Brackets collection">Mounting Brackets</a></h2>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB14-Motor-end.step" target="_blank" title="MB14 Motor end 3d step file">MB14-Motor-end.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB9.step" target="_blank" title="MB9 3d step file">MB9.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB5.L.step" target="_blank" title="MB5.L 3d step file">MB5.L.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB1.stp" target="_blank" title="MB1 3d step file">MB1.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB3U-pinned.step" target="_blank" title="MB3U pinned 3d step file">MB3U-pinned.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB3.step" target="_blank" title="MB3 3d step file">MB3.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB5.T.stp" target="_blank" title="MB5.T 3d step file">MB5.T.stp</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB6-Bracket.step" target="_blank" title="MB6 Bracket 3d step file">MB6-Bracket.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB8.step" target="_blank" title="MB8 3d step file">MB8.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB1-P.step" target="_blank" title="MB1 P 3d step file">MB1-P.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB14-shaft-end.step" target="_blank" title="MB14 shaft end 3d step file">MB14-shaft-end.step</a></li>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/MB2.STEP" target="_blank" title="MB2.STEP 3d step file">MB2.STEP</a></li>
</ul>
<h2><a href="https://www.firgelliauto.com/products/potentiometer" target="_blank" title="See Linear Potentiometer product">Linear Potentiometer</a></h2>
<ul>
  <li><a href="https://cdn-firgelliauto.sfo2.cdn.digitaloceanspaces.com/product-resources/3d-models/Linear-Pot.step" target="_blank" title="Linear Pot 3d step file">Linear-Pot.step</a></li>
</ul>