
{% assign shop_url = shop.url %}
{% assign icon_image_base_url =  'collection_' %}
{% assign collection_path_base_url =  shop_ur | append: '/collections/' %}
{% assign product_path_base_url = shop_ur | append: '/products/' %}

{% assign actuator_suffix =  '-actuators' %}
{% assign lift_suffix =  '-lifts' %}
{% assign has_filter = false %}
{%- if section.settings.display_collection_sidebar == true -%}
  {%- if section.settings.sticky_sidebar == true -%}
    {% assign sticky = 'uk-sticky="bottom: #sticky-container; offset: 100"' %}
  {%- endif -%}
  <div {{ sticky }}>
    {% if section.settings.title != blank %}
      <h3 class="collection-list__title">{{ section.settings.title }}</h3>
      {% if section.settings.sub_title != blank and has_filter == false %}
        <p>{{ section.settings.sub_title }}</p>
      {% endif %}
    {% endif %}
    <!-- Collection icon section currently includes a filter -->
    {% assign collection_grid_size = 'uk-child-width-1-2' %}
    {% include 'loop-collection-icons' %}

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
  {%- if section.settings.static_image != true -%}
    {% include 'script-collection-icon-animation' %}
  {%- endif  -%}
{%- endif -%}

{% schema %}
  {
    "name": "Sidebar Collection list",
    "max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "display_collection_sidebar",
        "label": "Display Collection Sidebar",
        "default": true
      },
      {
        "type":      "select",
        "id":        "image_type",
        "label":     "Select Image Type",
        "options": [
          {
            "value": "image_type_static",
            "label": "static"
          },
          {
            "value": "image_type_sprite",
            "label": "sprite sheet"
          },
          {
            "value": "image_type_animate",
            "label": "animated"
          }
        ],
        "default": "image_type_sprite"
      },
      {
        "type": "checkbox",
        "id": "sticky_sidebar",
        "label": "Enable Sticky Sidebar",
        "info": "Keeps the sidebar in view when scrolled.",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Our Collection"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Section Sub-Title"
      }
    ],
    "blocks": [
      {
        "type": "select",
        "name": "Add Collection Icon",
        "settings": [
          {
            "type":      "select",
            "id":        "collection_type",
            "label":     "Select Collection Icon",
            "options": [
             {
               "group": "actuators",
               "value": "premium",
               "label": "Premium"
             },
             {
               "group": "actuators",
               "value": "bullet",
               "label": "Bullet"
             },
             {
               "group": "actuators",
               "value": "linear",
               "label": "Linear"
             },
             {
               "group": "actuators",
               "value": "feedback",
               "label": "Feedback"
             },
             {
               "group": "actuators",
               "value": "track",
               "label": "Track "
             },
             {
               "group": "actuators",
               "value": "column",
               "label": "Column"
             },
             {
               "group": "actuators",
               "value": "slide",
               "label": "Slide Rail"
             },
             {
               "group": "lifts",
               "value": "table",
               "label": "Table"
             },
             {
               "group": "lifts",
               "value": "tv",
               "label": "TV"
             },
             {
               "group": "accessories",
               "value": "bracket",
               "label": "Brackets"
             },
             {
               "group": "accessories",
               "value": "switch",
               "label": "Switches"
             },
             {
               "group": "accessories",
               "value": "controller",
               "label": "Controllers"
             },
             {
               "group": "accessories",
               "value": "remote",
               "label": "Remotes"
             },
             {
               "group": "accessories",
               "value": "relay",
               "label": "Relays"
             },
             {
               "group": "accessories",
               "value": "motor",
               "label": "Motors"
             },
             {
               "group": "accessories",
               "value": "robotic",
               "label": "Robotics"
             },
             {
               "group": "accessories",
               "value": "cable",
               "label": "Cable Management"
             },
             {
               "group": "accessories",
               "value": "power_supply",
               "label": "Power Supplies"
             }
            ]
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "Collection Icon Title"
          },
          {
            "type": "text",
            "id": "collection_title_seo",
            "label": "SEO Collection Icon Title"
          },
          {
            "id"   : "collection_url",
            "type" : "collection",
            "label": "Collection Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Sidebar Collection List Icons",
        "category": "Sidebar"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
