
<section id="featured-collection-section" class="featured-collection uk-section" hidden>
  <div class="uk-container">
    {% if section.settings.title != blank %}
      <div class="fg-heading-margin uk-text-center">
        {% if section.settings.title != blank %}
          <h2 class="featured-collection__title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.sub_title != blank %}
          <p class="uk-text-center">{{ section.settings.sub_title }}</p>
        {% endif %}
      </div>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    {% assign limit_count = section.settings.limit_count %}
    <div class="fg-collection-grid js-filter uk-grid-small uk-grid-match" uk-grid>
      {% for product in collection.products limit: limit_count %}
        {% assign card_item = product %}
        {% include 'card-product' %}
        {% comment %}{% include 'card-product-with-review' %}{% endcomment %}
      
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type" : "text",
        "id"   : "title",
        "label": "Section Title"
      },
      {
        "type" : "text",
        "id"   : "sub_title",
        "label": "Section Sub-Title"
      },
      {
        "type" :  "range",
        "id"   :  "limit_count",
        "min"  :  4,
        "max"  :  12,
        "step" :  1,
        "unit" :  "pc",
        "label":  "Limit Product Amount",
        "default":8
      },
      {
        "id"   : "collection",
        "type" : "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name"    : "Featured Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
<script>
  $(document).ready(function () {
    $("#featured-collection-section").removeAttr('hidden');
  });
</script>