<style>
  .itg--nav{
   width: auto !important; 
    
  }

  .widgetButton {
    background-image: linear-gradient(to right, #0e91eb 0%, #0e91eb 30%, #0e91eb 50%, #0e91eb 100%);
    padding: 9px 17px;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    white-space: normal;
    max-width: 220px;
    display: inline-flex;
    position: relative;
    align-items: center;
    max-height: 55px;
}
</style>



{% unless template contains 'product' %}
{{ 'jquery.js' | asset_url | script_tag }}
{% endunless %}
<section data="user-location-section" class="fg-section-location-option uk-animation-slide-top">
  <nav class="fg-nav uk-container fg-section-location-option_nav uk-flex-center uk-navbar uk-section-xsmall">
    <div id="location-option">
      <p class="uk-text-lead" data="location-option-heading"></p>
      <div class="uk-grid-medium uk-flex-center" uk-grid data="user-location-button-group">
        <div>
          <button data="user-location-stay-button" class="uk-button uk-button-primary" type="button" uk-toggle="target: #location-option; animation: uk-animation-fade"></button>
        </div>
        <div data="user-location-away-button"></div>
      </div>

    </div>
  </nav>
</section>
<section class="fg-header" data-section-id="{{ section.id }}" data-section-type="header">
  <header class="bannerHeight" role="banner">
    {% include 'nav-topper' %}
    {% include 'nav-topper-mobile' %}
    <div id="banner" class="fg-navbar-container uk-navbar-container" style="visibility: hidden">
      <nav role="navigation" class="fg-nav uk-container uk-flex-middle" uk-navbar style="place-content: space-between; display: flex">
        <div style="display: flex;">
        <div class="uk-navbar uk-flex-column fg-logo-container">
          {% include 'logo' %}
        </div>
        
      <a style="padding-left: 50px; place-self: center;" class="selectorButton" href="https://www.firgelliauto.ca/pages/linear-actuator-selector"><button class="widgetButton"><div style="float: left;
        width: 25px"><img alt="linear actuator calculator image" src="https://cdn.shopify.com/s/files/1/0554/0567/4694/files/screwdriver.png?v=1633383820" width="40" height="45"></div>
     <span style="color: white; font-size: 14px; text-decoration: none; width: 110px;">Linear Actuator 
     Calculator Tool</span></button></a>
    </div>
		{% include 'header-desktop-megamenu' %}
        {% include 'responsive-header-mobile' %}
        <!-- End Custom Menu -->
      </nav>
    </div>
  </header>
</section>

<script> //navigation bar
  $("#banner").css('visibility', 'visible');
</script>

{% schema %}
  {
    "name": "Header",
    "max_blocks": 1,
    "settings": [
      {
        "type": "checkbox",
        "id": "display_holiday_hours",
        "info": "Add holiday hours link in navigation that displays a modal window of holiday hours.",
        "label": "Holiday Hours Nav Button",
        "default": false
      }
    ],
    "blocks" : [
      {
        "type": "select",
        "name": "Add Link List",
        "settings": [
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Header Nav Menu"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Header",
        "category": "Global"
      }
    ]
  }

{% endschema %}
