{% include 'section-header-collection' %}
<section id="collection-grid-section" class="uk-section uk-background-muted">
  <div class="uk-container">
    {% include 'loop-collection-kit' %}
  </div>
</section>
