{% section 'page-heading' %}
<section class="uk-section">
  <div class="uk-container">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>
{% section 'section-three-col' %}
{% section 'collection-list-cards' %}
{% section 'section-full-width' %}
